{% extends 'core/base.html' %}

{% block titulo %}implemento{% endblock%}

{% block contenido %}

<style>
    .implemento-item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

</style>

<div class="container">
    <h1 class="text-center mb-3">Creacion de Programacion de Labor</h1>
    <div class="row">
        <div class="col-md-4">
            <input type="text" id="buscador" class="form-control mb-2" placeholder="Buscar...">
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-2">
            {% if user.idrol.rol == "Supervisor" %}
            <button type="button" id="agregar" class="btn btn-success obtener" data-toggle="modal" data-target="#modalNuevo">Nueva Programacion
            </button>
            {% endif %}
        </div>
    </div>
    <div class="table-responsive mt-4">
        {% if messages %}
            {% for message in messages %}
            <div id="message" class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                
                {{ message }}
                
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        
        {% endif %}
        <div class="">
            <strong>Fecha: {{fecha}}</strong>
        </div>
        <strong class="text-primary">Tractores utilizados: {{ cantidad }}</strong>
        <table class="table table-striped table-sm table-bordered mt-3"  id="tabla-labor">
            <thead>
                <tr class="table-dark">
                    <th scope="col">N°</th>
                    <th scope="col">Tipo de Labor</th>
                    <th scope="col">Lote</th>
                    <th scope="col">Solicitante</th>
                    <th scope="col">Tractor</th>
                    <th scope="col">Tractorista</th>
                    <th scope="col">Fecha Programada</th>
                    <th scope="col">Turno</th>
                    <th scope="col">Horas de Uso</th>
                    <th scope="col">Implementos</th>
                    {% if user.idrol.rol == "Admin" %}
                    <th scope="col">Operaciones</th>
                    {% endif %}
                </tr>
            </thead>

            <tbody>
                {% for det in detalle %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ det.idprogramacion.idtipolabor }}</td>
                    <td>
                        {{ det.idprogramacion.idlote.idfundo }}
                        -
                        {{ det.idprogramacion.idlote }}
                    </td>
                    <td>
                        {{ det.idprogramacion.idsolicitante.idpersona.nombres }}
                        {{ det.idprogramacion.idsolicitante.idpersona.apellidos }}
                    </td>
                    <td {% if det.idprogramacion.idtractor.idusuario.id != user.id %} class="bg-warning" {% endif %}>{{ det.idprogramacion.idtractor }}</td>
                    <td {% if det.idprogramacion.idtractorista.idusuario.id != user.id %} class="bg-warning" {% endif %} >
                        {{ det.idprogramacion.idtractorista.idpersona.nombres }}
                        {{ det.idprogramacion.idtractorista.idpersona.apellidos }}
                    </td>
                    <td>{{ det.idprogramacion.fechahora}}</td>
                    <td>{{ det.idprogramacion.turno}}</td>

                    <!-- Para manejar la confirmacion-->
                    {% if det.horadeuso == 0 %}
                        <td class="text-danger">
                            <strong> Por Confirmar </strong>
                        </td>
                    {% else %}
                    <td class="text-primary text-end">
                        <strong>{{det.horadeuso}}</strong>
                    </td>
                    {% endif %}
                    <!--FIN DE LA CONFIRMACION-->

                    <td class="text-center">
                        <button class="btn {% if det.idimplemento.idusuario.id != user.id %}btn-warning{% else %}btn-primary{% endif %} btn-sm btn-ver"  data-toggle="modal" data-implementos="{{ det.idimplemento }}" data-idprogramacion='{{ det.idprogramacion }}' data-target="#modalListImplemento">
                            <i class="lni lni-eye"></i>
                        </button>
                    </td>
                    {% if user.idrol.rol == "Admin" %}
                    <td>
                        <!-- <button class="btn btn-warning btn-sm editar d-inline-block" id="tipolabor" data-toggle="modal"
                            data-target="#modalEditar" data-idtipolabor="{{ data.idtipolabor }}"
                            data-nombretipolabor="{{ data.tipolabor }}" type="button"><i
                            class="lni lni-pencil"></i></button> -->
                            <form action="{% url 'eliminar_programacion' det.iddetlabor %}" class="d-inline-block" 
                            method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm mx-5"><i
                                class="lni lni-trash-can"></i></button>
                            </form>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h1 id="h1-remplazar" class="text-center"></h1>
    </div>

    <div class="modal fade" id="modalNuevo" tabindex="-1" role="dialog" aria-labelledby="modalNuevoLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header bg-secondary">
                    <h1 class="modal-title text-center text-white " id="modalProgramacion">Nueva Programación</h1>
                </div>
                <div class="modal-body" style="background-color: #E5E8E8;">
                    <form method="post" action="{% url 'registrar_programacion' %}" autocomplete="off" id="form_programacion">
                        {% csrf_token %}
                        <strong for="idcimplemnto" >Datos Generales:</strong>
                        <div class="row mt-3">
                            <div class="col-md-4">
                                <label for="turn4o">Fecha de labor:</label>
                                <select name="fechahora" class="form-select mb-2" id="id_fechahora">
                                    <option id="1" value="hoy">Hoy</option>
                                    <option id="2" value="mañana">Mañana</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="turno">Turno:</label>
                                <select name="turno" class="form-select mb-2" id="id_turno">
                                    <option id="1" value="M" selected>Dia</option>
                                    <option id="2" value="T">Tarde</option>
                                </select>
                            </div>
                            <div class="col-md-5">
                                <label for="fechahora">Solicitante:</label>
                                {{form_programacion.idsolicitante}}
                            </div>     
                        </div>
                        

                        <!--ESTE INPUT OCULTA EL USUARIO QUE ESTA LOGUEADO-->
                        <div>
                            <input type="hidden" name="idusuario" id="idprogramacion" value="{{idusuario}}">
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-4">
                                <label for="idfundo">Selecione el Fundo:</label>
                                <select name="idfundo" id="idfundo" class="form-select">
                                    <option value="">---------</option>
                                    {% for i in fundo %}
                                    <option value="{{i.idfundo}}">{{i.fundo}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="idlote" >Lote:</label>
                                <select name="idlote" class="form-control mb-2" id="id_idlote">
                                    <option value="">---------</option>
                                    {% for i in lotes %}
                                    <option data-idfundo="{{i.idfundo.idfundo}}" value="{{i.idlote}}">{{i.lote}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="idtractor">Tipo de Labor:</label>
                                {{form_programacion.idtipolabor}}
                            </div>
                        </div>

                        <!--FIN-->
                        <div class="row mt-3">
                        </div>
                        
                        <hr>

                        <strong class="text-center">Supervisor:</strong>

                        <div class="row mt-2">
                            
                            <div class="col-md-4">
                                <div class="row mt-2">
                                    <div class="col-md-8">
                                        <select name="usuario_id" class="form-select" id="usuario_id">
                                            {% for supervisor in lista_usuarios %}
                                            <option value="{{ supervisor.id }}">{{ supervisor.first_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-2 mt-2">
                                    <div class="col-md-8">
                                        <strong for="idimplemento" >Lista de implementos a usar:</strong>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-success float-end" id="btn-agregar">
                                            Agregar
                                        </button>
                                    </div>

                                    <select name="idimplemento" class="form-select mb-2" id="id_idimplemento" required>
                                    </select>

                                    <div class="implementos">
                                        <div class="implemento-item">
                                            <select id="id_idimplemento">
                                                <!-- Opciones serán añadidas aquí -->
                                            </select>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>

                            <div class="col-md-4">                            
                                <div class="row mt-2">
                                    <div class="col-md-8">
                                        <select name="usuario_id" class="form-select" id="usuario_id_2" required>
                                            {% for supervisor in lista_usuarios %}
                                            <option value="{{ supervisor.id }}">{{ supervisor.first_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-2 mt-2">
                                    <strong for="idimplemento" >Selecione el Tractor:</strong>
                                    <div class="mt-4">
                                        <select name="idtractor" id="id_idtractor" class="form-select" required>
                                            <option value="">---------</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">                            
                                <div class="row mt-2">
                                    <div class="col-md-8">
                                        <select name="usuario_id" class="form-select" id="usuario_id_3" required>
                                            {% for supervisor in lista_usuarios %}
                                            <option value="{{ supervisor.id }}">{{ supervisor.first_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-2 mt-2">
                                    <strong for="idimplemento">Selecione al Tractorista:</strong>
                                    <div class="mt-4">
                                        <select name="idtractorista" id="id_idtractorista" class="form-select" required>                                   
                                        </select>
                                    </div>
                                </div>
                            </div>                            
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    

    <div class="modal fade" id="modalListImplemento" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="">Lista de Implementos</h5>
                </div>
                <div class="modal-body">
                    
                </div>
            </div>
        </div>
    </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/2.3.0/luxon.min.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        
        // Incluye la biblioteca luxon
        const { DateTime } = luxon;
        
        // Uso de HTML
        const h1 = document.querySelector('#h1-remplazar');
        const buscador = document.querySelector('#buscador');
        const filasTabla = document.querySelectorAll('#tabla-labor tbody tr');
        const form = document.getElementById('form_programacion');
        id_turno.value = 'M';

        function filtrarTabla() {
            const valorBusqueda = buscador.value.trim().toLowerCase();
            let noHayResultados = true;
            filasTabla.forEach(fila => {
                const lote = fila.querySelector('td:nth-child(3)').textContent.trim().toLowerCase();
                const Tractorista = fila.querySelector('td:nth-child(6)').textContent.trim().toLowerCase();

                const coincide = lote.includes(valorBusqueda);
                const coincide2 = Tractorista.includes(valorBusqueda);

                if (coincide || coincide2) {
                    fila.style.display = 'table-row';
                    noHayResultados = false;
                } else {
                    fila.style.display = 'none';
                }
            });
            h1.textContent = noHayResultados ? 'Datos no encontrados' : '';
        }
        
        // HACEMOS EL TRUCO NAZHEE
        function obtener_data_select(fecha, turno) {
            //Limpiamos el form
            
            //id_turno.value = 'M';
            // Referencia al select de limpiamos y creamos
            id_idtractorista.innerHTML = '';
            id_idtractorista.innerHTML = '<option value="">---------</option>';
            id_idtractor.innerHTML = '';
            id_idtractor.innerHTML = '<option value="">---------</option>';
            id_idimplemento.innerHTML = '';
            id_idimplemento.innerHTML = '<option value="">---------</option>';


            fetch(`./obtener_select/${fecha}/${turno}`)
            .then(res => res.json())
            .then(dataRecibida => {
                
                // Referencia al select de tractoristas
                const selectTractorista = document.getElementById('id_idtractorista');
                const selectTractor = document.getElementById('id_idtractor');
                const selectImplemento = document.getElementById('id_idimplemento');

                // Verificar si hay tractoristas disponibles y agregarlos al select
                if (dataRecibida.tractoristas && dataRecibida.tractoristas.length > 0) {
                    dataRecibida.tractoristas.forEach(tractorista => {
                        let option = document.createElement('option');
                        option.value = tractorista.idtractorista;
                        option.dataset.idusuario = tractorista.idusuario_id;
                        option.textContent = `${tractorista.idpersona_id__nombres} ${tractorista.idpersona_id__apellidos}`;
                        selectTractorista.appendChild(option);
                    });
                } else {
                    let option = document.createElement('option');
                    option.textContent = "No hay tractoristas disponibles";
                    selectTractorista.appendChild(option);
                }

                // Verificar si hay tractores disponibles y agregarlos al select
                if (dataRecibida.tractores && dataRecibida.tractores.length > 0) {
                    dataRecibida.tractores.forEach(tractor => {
                        let option = document.createElement('option');
                        option.value = tractor.idtractor;
                        option.dataset.idusuario = tractor.idusuario_id;
                        option.textContent = tractor.nrotractor;
                        selectTractor.appendChild(option);
                    });
                } else {
                    let option = document.createElement('option');
                    option.textContent = "No hay tractores disponibles";
                    selectTractor.appendChild(option);
                }

                if (dataRecibida.implementos && dataRecibida.implementos.length > 0) {
                dataRecibida.implementos.forEach(implemento => {
                    let option = document.createElement('option');
                    option.value = implemento.idimplemento;
                    option.dataset.idusuario = implemento.idusuario_id;
                    option.textContent = implemento.implemento;
                    selectImplemento.appendChild(option);
                });
                } else {
                    let option = document.createElement('option');
                    option.textContent = "No hay implementos disponibles";
                    selectImplemento.appendChild(option);
                }



                // Disparar eventos de cambio en los selects
                selectUsuario.dispatchEvent(new Event('change'));
                selectUsuario2.dispatchEvent(new Event('change'));
                selectUsuario3.dispatchEvent(new Event('change'));
            })
            .catch(error => console.log(error));
        }

        agregar.addEventListener('click', () => {
            const fecha = document.getElementById('id_fechahora').value;
            const turno = document.getElementById('id_turno').value;
            document.querySelector('.implementos').innerHTML = '';
            form.reset();
            obtener_data_select(fecha, turno);
        });
        
        id_fechahora.addEventListener('change', () => {
            const fecha = document.getElementById('id_fechahora').value;
            const turno = document.getElementById('id_turno').value;
            document.querySelector('.implementos').innerHTML = '';
            obtener_data_select(fecha, turno);
        })
        id_turno.addEventListener('change', () => {
            const fecha = document.getElementById('id_fechahora').value;
            const turno = document.getElementById('id_turno').value;
            document.querySelector('.implementos').innerHTML = '';
            obtener_data_select(fecha, turno);
        })

        // FIN DEL TRUCO


        //Eventos
        buscador.addEventListener('input', filtrarTabla);

        //MANEJO DE FECHAS

        // Configura la zona horaria de Perú
        const zonaHorariaPeru = 'America/Lima';

        // Obtén la fecha y hora actual en la zona horaria de Perú
        let fechaActual = DateTime.now().setZone(zonaHorariaPeru);
        let fechaMañana = fechaActual.plus({ days: 1 });

        // Formatea las fechas en el formato 'yyyy-MM-dd'
        let hoy = fechaActual.toFormat('yyyy-MM-dd');
        let mañana = fechaMañana.toFormat('yyyy-MM-dd');

        // Asigna los valores a las opciones del select
        let selectFecha = document.getElementById('id_fechahora');
        let option_1 = document.getElementById('1');
        let option_2 = document.getElementById('2');

        option_1.value = hoy;
        option_1.innerHTML = `HOY - ${hoy}`;
        option_2.value = mañana;
        option_2.innerHTML = `MAÑANA - ${mañana}`;

        selectFecha.addEventListener('change', () => {
            let seleccion = selectFecha.value;
        });

        //FIN DE MANEJO DE FECHAS

        //CAMBIA EL VALOR POR QUE SE ENCUENTRA LOGUEADO
        usuario_id.value = "{{idusuario}}";
        usuario_id_2.value = "{{idusuario}}";
        usuario_id_3.value = "{{idusuario}}";

        let selectUsuario = document.getElementById('usuario_id');
        let selectedUserId = document.getElementById('usuario_id').value;

        let selectUsuario2 = document.getElementById('usuario_id_2');
        let selectTractor = document.getElementById('id_idtractor');

        let selectUsuario3 = document.getElementById('usuario_id_3');
        let selectTractorista = document.getElementById('id_idtractorista');

        let fundo = document.getElementById('idfundo');
        let lote = document.getElementById('id_idlote').value;

        function filtrarTractoresPorUsuario(userId) {
            let tractorOptions = document.querySelectorAll('#id_idtractor option');
            tractorOptions.forEach(option => {
                if (option.dataset.idusuario !== userId && option.value !== '') {
                    option.style.display = 'none';
                } else {
                    option.style.display = 'block';
                }
            });
        }     
        
        function filtrarImplementosPorUsuario(userId) {
            let implementoOptions = document.querySelectorAll('#id_idimplemento option');
            implementoOptions.forEach(option => {
                if (option.dataset.idusuario !== userId && option.value !== '') {
                    option.style.display = 'none';
                } else {
                    option.style.display = 'block';
                }
            });

            let implementoOptions1 = document.querySelectorAll('#id_idimplemento_1 option');
            implementoOptions1.forEach(option => {
                if (option.dataset.idusuario !== userId && option.value !== '') {
                    option.style.display = 'none';
                } else {
                    option.style.display = 'block';
                }
            });

            let implementoOptions2 = document.querySelectorAll('#id_idimplemento_2 option');
            implementoOptions2.forEach(option => {
                if (option.dataset.idusuario !== userId && option.value !== '') {
                    option.style.display = 'none';
                } else {
                    option.style.display = 'block';
                }
            });

        }

        function filtrarTractoristasPorUsuario(userId) {
            id_idtractorista.value = '';
            let tractoristaOptions = document.querySelectorAll('#id_idtractorista option');
            tractoristaOptions.forEach(option => {
                if (option.dataset.idusuario !== userId && option.value !== '') {
                    option.style.display = 'none';
                } else {
                    option.style.display = 'block';
                }
            });
        }

        function filtrarLotesPorFundo(fundoId) {
            let loteOptions = document.querySelectorAll('#id_idlote option');
            loteOptions.forEach(option => {
                if (option.dataset.idfundo !== fundoId && option.value !== '') {
                    option.style.display = 'none';
                } else {
                    option.style.display = 'block';
                }
            });
        }

        selectUsuario.addEventListener('change', function() {
            let selectedUserId = this.value;
            filtrarImplementosPorUsuario(selectedUserId);
        });

        selectUsuario2.addEventListener('change', function() {
            let selectedUserId = this.value;
            filtrarTractoresPorUsuario(selectedUserId);
        });

        selectUsuario3.addEventListener('change', function() {
            let selectedUserId = this.value;
            filtrarTractoristasPorUsuario(selectedUserId);
        });

        fundo.addEventListener('change', function() {
            let selectedTractorId = this.value;
            filtrarLotesPorFundo(selectedTractorId);
        });
        
        let maxImplementos = 2;
        document.getElementById('btn-agregar').addEventListener('click', () => {
            let implementosAgregados = document.querySelectorAll('.implementos .implemento-item').length;
            if (implementosAgregados < maxImplementos) {
                // Clonar el select
                var selectClonado = document.getElementById('id_idimplemento').cloneNode(true);
                selectClonado.id = `id_idimplemento_${implementosAgregados + 1}`;

                // Crear un contenedor para el select y el botón de eliminar
                var contenedor = document.createElement('div');
                contenedor.classList.add('implemento-item');

                // Crear el botón de eliminar
                var botonEliminar = document.createElement('button');
                botonEliminar.textContent = 'Eliminar';
                botonEliminar.classList.add('btn', 'btn-danger', 'ms-2');
                botonEliminar.addEventListener('click', () => {
                    contenedor.remove();
                });

                // Añadir el select clonado y el botón al contenedor
                contenedor.appendChild(selectClonado);
                contenedor.appendChild(botonEliminar);

                // Añadir el contenedor a la lista de implementos
                document.querySelector('.implementos').appendChild(contenedor);
            } else {
                // Mostrar mensaje de límite alcanzado si no existe ya
                if (!document.querySelector('.implementos .text-danger')) {
                    var mensaje = document.createElement('span');
                    mensaje.id = 10;
                    mensaje.textContent = '¡Llegaste al máximo de implementos permitidos!';
                    mensaje.classList.add('text-danger', 'ms-2');
                    document.querySelector('.implementos').insertBefore(mensaje, document.querySelector('.implementos').firstChild);
                }
            }
        });
        
        document.querySelectorAll('.btn-ver').forEach(button => {
            button.addEventListener('click', function() {
                let idProgramacion = this.getAttribute('data-idprogramacion');
                fetch(`./obtener_data/${idProgramacion}`)
                .then(response => response.json())
                .then(data => {
                    if (data.mensaje === "Success") {
                        var modalBody = document.querySelector('#modalListImplemento .modal-body');
                        modalBody.innerHTML = '';
                        var ul = document.createElement('ul');
                        data.nombres_implementos.forEach(nombre => {
                            var li = document.createElement('li');
                            li.textContent = nombre;
                            ul.appendChild(li);
                        });
                        modalBody.appendChild(ul);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            });
        });


        
        
        //Llamado de funciones
        filtrarImplementosPorUsuario(selectedUserId);
        filtrarTractoresPorUsuario(selectTractor);
        filtrarTractoristasPorUsuario(selectTractorista);
        filtrarLotesPorFundo(lote);

        //Funcion que se disparan automatico
        selectFecha.dispatchEvent(new Event('change'));
        
        
        //Funcion para que el mensaje tenga un tiempo de espera de 3 segundos
        setTimeout(function() {
            var errorMessage = document.getElementById('message');

            if (errorMessage ) {
                errorMessage.style.display = 'none';
            }
        },10000);

        setTimeout(function() {
            var span_error = document.getElementById('10');

            if (span_error) {
                span_error.style.display = 'none';
            }
        },5000);

        });
</script>

{% endblock %}
