{% extends 'core/base.html' %}

{% block titulo %}implemento{% endblock%}

{% block contenido %} 
<div class="container">
    <h1 class="text-start mb-3">Creacion de Labor</h1>
    <div class="row">
        <div class="col-md-4">
            <input type="text" id="buscador" class="form-control mb-2" placeholder="Buscar...">
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-2">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalNuevo">Nueva Labor
            </button>
        </div>
    </div>
    <div class="table-responsive mt-4">
        <table class="table table-striped table-sm table-bordered"  id="tabla-labor">
            <thead>
                <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Tipo de Labor</th>
                    <th scope="col">Lote</th>
                    <th scope="col">Solicitante</th>
                    <th scope="col">Tractor</th>
                    <th scope="col">Tractorista</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Turno</th>
                    <th scope="col">Horas de Uso</th>
                    <th scope="col">Implementos</th>
                    <th scope="col">Operaciones</th>
                </tr>
            </thead>

            <tbody>
                {% for det in detalle %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ det.idprogramacion.idtipolabor }}</td>
                    <td>{{ det.idprogramacion.idlote }}</td>
                    <td>
                        {{ det.idprogramacion.idsolicitante.nombres }}
                        {{ det.idprogramacion.idsolicitante.apellidos }}
                    </td>
                    <td>{{ det.idprogramacion.idtractor }}</td>
                    <td>
                        {{ det.idprogramacion.idtractorista.nombres }}
                        {{ det.idprogramacion.idtractorista.apellidos }}
                    </td>
                    <td>{{ det.idprogramacion.fechahora}}</td>
                    <td>{{ det.idprogramacion.turno}}</td>
                    <td>{{ det.horadeuso}}</td>
                    <td class="text-center">
                        <button class="btn btn-primary btn-sm btn-ver" data-toggle="modal" data-idprogramacion='{{ det.idprogramacion }}' data-target="#modalListImplemento"><i class="lni lni-eye"></i></button>
                    </td>
                    <td>
                        <!-- <button class="btn btn-warning btn-sm editar d-inline-block" id="tipolabor" data-toggle="modal"
                            data-target="#modalEditar" data-idtipolabor="{{ data.idtipolabor }}"
                            data-nombretipolabor="{{ data.tipolabor }}" type="button"><i
                                class="lni lni-pencil"></i></button> -->
                        <form action="#" class="d-inline-block" 
                            method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm mx-5"><i
                                    class="lni lni-trash-can"></i></button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h1 id="h1-remplazar" class="text-center"></h1>
    </div>

    <!-- Modal Registrar Ceco -->
    <div class="modal fade" id="modalNuevo" tabindex="-1" role="dialog" aria-labelledby="modalNuevoLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <h1 class="modal-title text-white" id="modalProgramacion">Nueva Programacion</h1>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'registrar_programacion' %}" autocomplete="off" id="form-ceco">
                        {% csrf_token %}
                        <strong for="idcimplemnto" >Datos Generales:</strong>
                        <div class="row mt-3">
                            <div class="col-md-4">
                                <label for="idlote" >Tipo de labor:</label>
                                {{form_programacion.idtipolabor}}
                            </div>
                            <div class="col-md-4">
                                <label for="idsolicitante">Lote:</label>
                                {{form_programacion.idlote}}
                            </div>
                            <div class="col-md-4">
                                <label for="idtractor">Nombre del Tractor:</label>
                                {{form_programacion.idtractor}}
                            </div>
                        </div>
                        <div>
                            <input type="hidden" name="idusuario" id="idprogramacion" value="{{idusuario}}">
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-3">
                                <label for="idtractorista">Tractorista:</label>
                                {{form_programacion.idtractorista}}
                            </div>
                            <div class="col-md-3">
                                <label for="fechahora">Solicitante:</label>
                                {{form_programacion.idsolicitante}}
                            </div>
                            <div class="col-md-3">
                                <label for="turno">Feche de labor:</label>
                                {{form_programacion.fechahora}}
                            </div>
                            <div class="col-md-3">
                                <label for="turno">Turno:</label>
                                {{form_programacion.turno}}
                            </div>
                        </div>
                        <hr>
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <strong for="idcimplemnto" >Selecione los Implementos:</strong>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-success float-end" id="btn-agregar">
                                    Agregar
                                </button>
                            </div>
                        </div>

                        <div class="implementos-container">
                            {{form_detalle.idimplemento}}
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalListImplemento" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="">Lista de Implementos</h5>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll('.btn-ver').forEach(button => {
        button.addEventListener('click', function() {
            let idProgramacion = this.getAttribute('data-idprogramacion');
            console.log(idProgramacion);
            fetch(`http://127.0.0.1:8000/programacion/obtener_data/${idProgramacion}`)
                .then(response => response.json())
                .then(data => {
                    if (data.mensaje === "Success") {
                        var modalBody = document.querySelector('#modalListImplemento .modal-body');
                        modalBody.innerHTML = '';
                        var ul = document.createElement('ul');
                        data.nombres_implementos.forEach(nombre => {
                            var li = document.createElement('li');
                            li.textContent = nombre;
                            ul.appendChild(li);
                        });
                        modalBody.appendChild(ul);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    });



    document.getElementById('btn-agregar').addEventListener('click', () => {
    var selectClonado = document.getElementById('id_idimplemento').cloneNode(true);        
    document.querySelector('.implementos-container').appendChild(selectClonado);
    });
    });
</script>

{% endblock %}