{% extends 'core/base.html' %}

{% block titulo %}Gestion de responsable{% endblock %}

{% block contenido %}
{% load static %}
<div class="container">
    <h1 class="text-start mb-3 text-center">Gestión de Encargado</h1>
    <div class="row">

        <div class="col-md-4">
            <!-- <input type="text" id="buscador" class="form-control mb-2" placeholder="Buscar..."> -->
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-2">
            <button type="button" id="registrar_encargado" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modal-encargado">Registrar Encargado</button>
        </div>
    </div>
    <div class="table-responsive mt-3">
    {% if messages %}
        {% for message in messages %}
        <div id="message" class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            
            {{ message }}
            
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    
    {% endif %}
        <table class="table table-striped text-center table-bordered" id="tabla-area">
            <thead class="table-dark">
                <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">DNI</th>
                    <th scope="col">Operaciones</th>
                </tr>
            </thead>

            <tbody>
                {% for data in datos %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{data.idpersona.nombres}}</td>
                    <td>{{data.idpersona.apellidos}}</td>
                    <td>{{data.idpersona.dni}}</td>
                    <td>
                        <button class="btn btn-warning btn-sm editar d-inline-block" data-id="{{data.idencargado}}" data-bs-toggle="modal" data-bs-target="#modal-encargado">Editar</button>
                        <form action="{% url 'eliminar_responsable' data.idencargado %}" id="form-{{ data.idencargado }}" class="d-inline-block" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm eliminar" data-registro="{{ data.idpersona.nombres }}" data-id="{{ data.idencargado }}"><i class="lni lni-trash-can"></i></button>
                        </form>
                    </td>  
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h1 id="h1-remplazar" class="text-center"></h1>
    </div>

    <!-- Modal Registrar Encargado -->
    <div class="modal fade" id="modal-encargado" tabindex="-1" role="dialog" aria-labelledby="modalNuevoResposableLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titulo-modal">Registrar al Encargado</h5>
                </div>
                <div class="modal-body">
                    <form autocomplete="off" id="form-modal">
                        {% csrf_token %}
                        {{ form }}
                        <button type="submit" id="guardar" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'core/js/swet_alert.js' %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const btnAgregar = document.getElementById("registrar_encargado");
        const titulo_modal = document.getElementById("titulo-modal");
        const dniField = document.getElementById('txtDni');
        const btnEditar = document.querySelectorAll('.editar');
        const formModal = document.getElementById("form-modal");
        const btnGuardar = document.getElementById("guardar");
        const btnEliminar = document.querySelectorAll(".eliminar")

        function obtenerEncargado(id){
            fetch(`./encargado/obtener/${id}`)
            .then(res => res.json())
            .then(datos => {
                // console.log(datos)
                titulo_modal.textContent = "Editar Encargado" ;
                formModal.setAttribute("action", `./encargado/editar_responsable/${id}`);
                formModal.setAttribute("method", "POST");
                txtApellidos.value = datos.encargado.apellidos;           
                txtNombres.value = datos.encargado.nombres;                    
                txtDni.value = datos.encargado.dni;       
            })
            .catch((error) => {
                console.log(error);
            });
        }

        btnEditar.forEach(function(boton) {
        boton.addEventListener("click", function(event) {
            let id_encargado = event.currentTarget.dataset.id;
            // console.log(id_encargado);
            obtenerEncargado(id_encargado)
            });
        });

        btnAgregar.addEventListener("click", function() {
            titulo_modal.textContent = "Registrar Encargado" ;
            formModal.reset();
            formModal.setAttribute("action", "{% url 'registrar_responsable' %}");
            formModal.setAttribute("method", "POST");
        });

        dniField.addEventListener('input', function() {
            if (this.value.length > 8) {
                this.value = this.value.slice(0, 8);
            }
        });

        btnGuardar.addEventListener("click", function(event) {
            if (!formModal.checkValidity()) {
                return;
            }
            event.preventDefault();
            PreguntarGuardar(function(){formModal.submit();});
        });

        btnEliminar.forEach(function(boton) {
            boton.addEventListener("click", function(event) {
                event.preventDefault();
                let encargado = event.currentTarget.dataset.registro;
                let formId = event.currentTarget.dataset.id;
                PreguntarEliminar(encargado, function() {
                    document.getElementById('form-' + formId).submit();
                });
            });
        });

        setTimeout(function() {
            var errorMessage = document.getElementById('message');
            if (errorMessage) {
                errorMessage.style.display = 'none';
            }
        }, 3000);


    });  
</script>
{% endblock %}
