{% extends 'core/base.html' %}

{% block titulo %}Solicitante{% endblock%}

{% block contenido %} 
<h1 class="text-center mb-2">Solicitante</h1>
<div class="row mt-4">
    <div class="col md-3 mb-3">
        <form>
            <div class="input-group">
                <input type="text" class="form-control" id="buscar" value="" placeholder="Buscar...">
                <button class="btn btn-md btn-outline-secondary">Buscar</i></button>
            </div>
        </form>
    </div>
    <div class="col-md-3 mb-3">

    </div>
    <div class="col-md-3 mb-3">
        {% if user.idrol.rol != "Gerencia" %}
        <button type="button" class="btn btn-primary" id="registrar-solicitante" data-bs-toggle="modal" data-bs-target="#modal-solicitante">Agregar Solicitante</button>
        {% endif %}
    </div>
</div>

<table class="table table-striped  table-sm table-bordered text-center" id="tabla-sistema">
    <thead class="thead-dark">
        <!-- <colgroup>
            <col width="25%">
            <col width="25%">       
            <col width="25%">
            <col width="25%">
        </colgroup> -->
        <tr>
            <th scope="col">Tipo Solicitante</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Nombres</th>
            <th scope="col">Codigo</th>
            {% if user.idrol.rol != "Gerencia" %}
            <th scope="col">Operaciones</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for dato in datos_solicitantes %}
     <tr>
        <td>{{dato.idtiposolicitante}}</td>
        <td>{{dato.apellidos}}</td>
        <td>{{dato.nombres}}</td>
        <td>{{dato.codigo}}</td>
        {% if user.idrol.rol != "Gerencia" %}
        <td>
            <button onclick="" class="btn btn-warning editar d-inline-block" id="editar-pieza" data-id="{{dato.idsolicitante}}" data-bs-toggle="modal" data-bs-target="#modal-solicitante"><i class="lni lni-pencil editar"></i></button>
            <form action="{% url 'tiposolicitante_eliminar' dato.idsolicitante %}" class="d-inline-block" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger flex-fill" ><i class="lni lni-trash-can eliminar"></i></button>
            </form>
        </td>
        {% endif %}
     </tr>
    {% endfor %}
    </tbody>
</table>
<div class="modal fade" id="modal-solicitante" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-primary justify-content-center" >
                <h1 class="modal-title fs-5 text-light" id="titulo-modal">Registrar Implemento</h1>
            </div>
                <form autocomplete="off" id="form-modal">
                    <div class="modal-body">
                            {% csrf_token %}
                            {{form.as_p}}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="agregasr" class="btn btn-outline-primary flex-fill"><i class="bi bi-check-square-fill"></i>Guardar</button>
                        <button type="button" id="cerrar" data-bs-dismiss="modal" class="btn btn-outline-danger flex-fill" data-bs-dismiss="modal"><i class="bi bi-x-square-fill"></i>Cerrar</button>
                    </div>
                </form>
        </div>
    </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", () => {

    // constsc modalvisor = new bootstrap.Modal(document.getElementById('modal-sistema'))
    const formModal = document.getElementById("form-modal")
    const btnAgregar = document.getElementById("registrar-solicitante");
    const titulo_modal = document.getElementById("titulo-modal");
    const btnModificar = document.querySelectorAll(".editar")

    
    function obtener_pieza(id){
    fetch(`./solicitante/obtener/${id}`)
    .then(res => res.json())
    .then(datos => {
        // console.log(datos)
        titulo_modal.textContent = "Editar Solicitante" ;
        formModal.setAttribute("action", `./solicitante/modificar/${id}`);
        formModal.setAttribute("method", "POST");
        txtSolicitante.value = datos.solicitante[0].idtiposolicitante;           
        txtApellidos.value = datos.solicitante[0].apellidos;           
        txtNombres.value = datos.solicitante[0].nombres;           
        txtCodigo.value = datos.solicitante[0].codigo;           
 
    })
    .catch((error) => {
        console.log(error);
    });
    }

    btnAgregar.addEventListener("click", function() {
        titulo_modal.textContent = "Agregar Solicitante" ;
        formModal.reset();
        formModal.setAttribute("action", "{% url 'solicitante_registro' %}");
        formModal.setAttribute("method", "POST");
    });

    btnModificar.forEach(function(boton) {
    boton.addEventListener("click", function(event) {
        let id_solicitante = event.target.dataset.id;
        // console.log(id_pieza);
        obtener_pieza(id_solicitante);
        });
    });



});




</script>

{% endblock %}