{% extends 'core/base.html' %}

{% block titulo %}Componente{% endblock%}

{% block contenido %}
<h1 class="text-center mb-2">Gestion de Sistema de Componentes</h1>
<div class="row mt-4">
    <div class="col md-3 mb-3">
        <form>
            <div class="input-group">
                <input type="text" class="form-control" id="buscar" value="" placeholder="Buscar...">
                <button class="btn btn-md btn-outline-secondary">Buscar</i></button>
            </div>
        </form>
    </div>
    <div class="col-md-3 mb-3">

    </div>
    <div class="col-md-3 mb-3">
        <button type="button" class="btn btn-primary" id="registro-implemento" data-bs-toggle="modal" data-bs-target="#modal-sistema">Agregar Sistema</button>
    </div>
</div>

<table class="table table-striped  table-sm table-bordered text-center" id="tabla-sistema">
    <thead class="thead-dark">
        <colgroup>
            <col width="20%">
            <col width="45%">
            <col width="45%">
        </colgroup>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Sistema</th>
            <th scope="col">Operaciones</th>
        </tr>
    </thead>
    <tbody>
    {% for dato in datos_sistema %}
     <tr>
        <td>{{forloop.counter}}</td>
        <td>{{dato.sistema}}</td>
        <td>
            <button class="btn btn-warning editar flex-fill" data-id="{{dato.idsistema}}" data-reg="{{dato}}" data-bs-toggle="modal" data-bs-target="#modal-sistema"><i class="lni lni-pencil editar"></i></button>
            <form action="{% url 'eliminar_sistema' dato.idsistema %}" class="flex-fill" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger flex-fill" ><i class="lni lni-trash-can eliminar"></i></button>
            </form>
        </td>
     </tr>
    {% endfor %}
    </tbody>
</table>

<div class="modal fade" id="modal-sistema" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-primary justify-content-center" >
                <h1 class="modal-title fs-5 text-light" id="titulo-modal">Registrar Implemento</h1>
            </div>
                <form action="{% url 'sistema_registro' %}" autocomplete="off" id="form-implemento" method="POST">
                    <div class="modal-body">
                            {% csrf_token %}
                            {{form}}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="agregasr" class="btn btn-outline-primary flex-fill"><i class="bi bi-check-square-fill"></i>Guardar</button>
                        <button type="button" id="cerrar" data-bs-dismiss="modal" class="btn btn-outline-danger flex-fill" data-bs-dismiss="modal"><i class="bi bi-x-square-fill"></i>Cerrar</button>
                    </div>
                </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {

        var editButtons = document.querySelectorAll('.editar');
        editButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                var idCeco = this.dataset
                var nombreCeco = this.dataset.reg;
                console.log(nombreCeco);
                console.log(idCeco);
                // document.getElementById("ceco_id").value = idCeco;
                // document.getElementById("nombre_ceco").value = nombreCeco;
            });
        });
    });
</script>

{% endblock %}
