{% extends 'core/base.html' %}

{% block titulo %}Sistema{% endblock%}

{% block contenido %}
{% load static %}
<h1 class="text-center mb-2">Gestion de Sistema de Componentes</h1>
<div class="row mt-4">
    <div class="col md-3 mb-3">
    </div>
    <div class="col-md-3 mb-3">

    </div>
    <div class="col-md-3 mb-3">
        {% if user.idrol.rol != "Gerencia" %}
        <button type="button" class="btn btn-primary" id="registrar-sistema" data-bs-toggle="modal" data-bs-target="#modal-sistema">Agregar Sistema</button>
        {% endif %}
    </div>
</div>

{% if messages %}
    {% for message in messages %}
        <div id="mensaje" class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<table class="table table-striped  table-sm table-bordered text-center" id="tabla-sistema">
    <thead class="table-dark">
        <!-- <colgroup>
            <col width="20%">
            <col width="45%">
            <col width="45%">
        </colgroup> -->
        <tr>
            <th scope="col">N°</th>
            <th scope="col">Sistema</th>
            {% if user.idrol.rol != "Gerencia" %}
            <th scope="col">Operaciones</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for dato in datos_sistema %}
     <tr>
        <td>{{forloop.counter}}</td>
        <td>{{dato.sistema}}</td>
        {% if user.idrol.rol != "Gerencia" %}
            <td>
                <button onclick="" class="btn btn-warning editar d-inline-block" id="editar-sistema" data-id="{{dato.idsistema}}" data-bs-toggle="modal" data-bs-target="#modal-sistema "><i class="lni lni-pencil editar"></i></button>
                <form action="{% url 'eliminar_sistema' dato.idsistema %}" id="form-{{ dato.idimplemento }}" class="d-inline-block" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger flex-fill eliminar" data-registro="{{ dato.sistema }}" data-id="{{ dato.idsistema }}"><i class="lni lni-trash-can eliminar"></i></button>
                </form>
            </td>
        {% endif %}
     </tr>
    {% endfor %}
    </tbody>
</table>

<div class="modal fade" id="modal-sistema" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-primary justify-content-center" >
                <h1 class="modal-title fs-5 text-light" id="titulo-modal"></h1>
            </div>
                <form autocomplete="off" id="form-modal">
                    <div class="modal-body">
                        
                            {% csrf_token %}
                            {{form}}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="guardar" class="btn btn-outline-primary flex-fill"><i class="bi bi-check-square-fill"></i>Guardar</button>
                        <button type="button" id="cerrar" data-bs-dismiss="modal" class="btn btn-outline-danger flex-fill" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'core/js/swet_alert.js' %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", () => {

        const modalvisor = new bootstrap.Modal(document.getElementById('modal-sistema'))
        const formModal = document.getElementById("form-modal")
        const btnAgregar = document.getElementById("registrar-sistema");
        const titulo_modal = document.getElementById("titulo-modal");
        const btnModificar = document.querySelectorAll(".editar")
        const btnEliminar = document.querySelectorAll(".eliminar")
        const btnGuardar = document.getElementById('guardar')
            
    function obtener_sistema(id){
    fetch(`./obtener/${id}`)
        .then(res => res.json())
        .then(datos => {
            titulo_modal.textContent = "Editar Sistema" ;
            formModal.setAttribute("action", `./modificar/${id}`);
            formModal.setAttribute("method", "POST");
            txtsistema.value = datos.componentes[0].sistema;           
        })
        .catch((error) => {
            console.log(error);
        });
    }
    
    btnAgregar.addEventListener("click", function() {
        titulo_modal.textContent = "Agregar Sistema" ;
        formModal.reset();
        formModal.setAttribute("action", "{% url 'sistema_registro' %}");
        formModal.setAttribute("method", "POST");
    });

    btnModificar.forEach(function(boton) {
    boton.addEventListener("click", function(event) {
        let idsis = event.currentTarget.dataset.id;
        obtener_sistema(idsis);
        });
    });
    
    btnEliminar.forEach(function(boton) {
        boton.addEventListener("click", function(event) {
            event.preventDefault();
            let sistema = event.currentTarget.dataset.registro;
            let formId = event.currentTarget.dataset.id;
            PreguntarEliminar(sistema, function() {
                document.getElementById('form-' + formId).submit();
            });
        });
    });

    btnGuardar.addEventListener("click", function(event) {
        event.preventDefault();
        PreguntarGuardar(function(){formModal.submit();});
    });

});

</script>
{% endblock %}
