{% extends 'core/base.html' %}

{% block titulo %}Registrar usuario{% endblock%}

{% block contenido %} 
<h1 class="text-center m-3">Registro de Usuario</h1>
<div class="container row mb-3 mt-3">
  <div class="col col-md-4">
    <div class="input-group d-none" >
      <input type="text" class="form-control" id="buscar" value="" placeholder="Buscar...">
      <button class="btn btn-md btn-outline-secondary">Buscar</i></button>
  </div>
  </div>
  <div class="col col-md-4"></div>
  <div class="col col-md-4">
    <button class="btn btn-success" id="btnAgregarUsuario" data-bs-toggle="modal" data-bs-target="#modal-usuario">Registrar usuario</button>
  </div>
</div>
  {% if messages %}
    {% for message in messages %}
        <div id="mensaje" class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>                </div>
    {% endfor %}
  {% endif %}

<div class="container">
  <div class="table-responsive">
    <table class="table table-striped  table-sm table-bordered text-center" id="tabla-usuario">
      <thead class="thead-dark">
        <tr>
            <th scope="col">N°</th>
            <th scope="col">Usuario</th>
            <th scope="col">Nombres</th>
            <th scope="col">Rol</th>
            <th scope="col">Operaciones</th>
        </tr>
      </thead>
      <tbody>
        {% for usuario in usuarios %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{usuario.username}}</td>
            <td>{{usuario.first_name}} {{usuario.last_name}}</td>
            <td>{{usuario.idrol.rol}}</td>
            <td>
              <button class="btn btn-secondary restablecerclave d-inline-block" data-id="{{usuario.id}}" data-bs-toggle="modal" data-bs-target="#cambio-contraseña" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Reestablecer contraseña"><i class="lni lni-lock-alt"></i></i></button>
              <button class="btn btn-warning editar d-inline-block" data-id="{{usuario.id}}" data-bs-toggle="modal" data-bs-target="#modal-usuario"><i class="lni lni-pencil editar"></i></button>
              <form action="{% url 'eliminar_usuario' usuario.id %}" class="d-inline-block" method="POST">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger flex-fill" ><i class="lni lni-trash-can eliminar"></i></button>
              </form>
          </td>
          </tr>
        {% endfor %}
      </tbody>
      
    </table>
  </div>
    

</div>

<div class="modal fade" id="modal-usuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header bg-primary justify-content-center" >
              <h1 class="modal-title fs-5 text-light" id="titulo-modal">titulo-modal</h1>
          </div>
              <form autocomplete="off" id="form-modal">
              <div class="modal-body">
                  {% csrf_token %}
                  <div class="container row">
                    <div class="col col-md-6">
                      <label for="username" class="form-label">Nombre ususario:</label>
                      {{form.username}}
                    </div>
                    <div class="col col-md-6">
                      <label for="idrol" class="form-label">Seleccionar rol:</label>
                      {{form.idrol}}
                    </div>
                  </div>

                  <div class="container row">
                    <div class="col col-md-6">
                      <label for="first_name" class="form-label">Nombre:</label>
                      {{form.first_name}}
                    </div>

                    <div class="col col-md-6">
                      <label for="last_name" class="form-label">Apellido:</label>
                      {{form.last_name  }}
                    </div>
                  </div>

                  <div class="container row" id="campo-claves">
                    <div class="col col-md-6">
                      <label for="password1" class="form-label">Contraseña:</label>
                      <input type="password" class="form-control" name="password1" id="id_password1" required>
                    </div>
                    <div class="col col-md-6">
                      <label for="password2" class="form-label">Repita Contraseña:</label>
                      <input type="password" class="form-control" name="password2" id="id_password2" required>
                    </div>
                  </div>
              </div>

              <div class="modal-footer">
                  <button type="submit" id="guardar" class="btn btn-outline-primary flex-fill"><i class="bi bi-check-square-fill"></i>Guardar</button>
                  <button type="button" data-bs-dismiss="modal" class="btn btn-outline-danger flex-fill" data-bs-dismiss="modal"><i class="bi bi-x-square-fill"></i>Cerrar</button>
              </div>
              </form>
      </div>
  </div>
</div>

<div class="modal fade" id="cambio-contraseña" tabindex="-1" aria-labelledby="cambio-contraseña" aria-hidden="true">
  <div class="modal-dialog modal-md">
      <div class="modal-content">
          <div class="modal-header bg-primary justify-content-center" >
              <h1 class="modal-title fs-5 text-light" >Restablecer contraseña</h1>
          </div>
              <form autocomplete="off" id="form-cambio-clave">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col col-md-12">
                        <label for="id_new_password1" class="form-label">Nueva contraseña:</label>
                        <input type="password" name="new_password1" class="form-control" id="id_new_password1">
                      </div>
                      <div class="col col-md-12 mt-2">
                        <label for="id_new_password2" class="form-label">Confirmar contraseña:</label>
                        <input type="password" name="new_password2" class="form-control" id="id_new_password2">
                      </div>
                    </div>
              
                </div>

                <div class="modal-footer">
                    <button type="submit" id="guardar_contraseña" class="btn btn-outline-primary flex-fill"><i class="bi bi-check-square-fill"></i>Guardar</button>
                    <button type="button" data-bs-dismiss="modal" class="btn btn-outline-danger flex-fill" data-bs-dismiss="modal"><i class="bi bi-x-square-fill"></i>Cerrar</button>
                </div>
              </form>
      </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () =>{
   const btnAgregar = document.getElementById("btnAgregarUsuario");
   const formModal = document.getElementById("form-modal");
   const btnModificar = document.querySelectorAll(".editar")
   const btnRestablecerContraseña= document.querySelectorAll(".restablecerclave")
   const campos_password = document.getElementById("campo-claves");


   const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
   const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

   setTimeout(function() {
            var mensaje = document.getElementById('mensaje');
            if (mensaje) {
                mensaje.style.display = 'none';
            }
        }, 3000);

   btnAgregar.addEventListener("click", function(){
    const titulo_modal = document.getElementById("titulo-modal");

    // Modificamos clases y atributos 
    campos_password.classList.remove("d-none")
    titulo_modal.textContent = "Agregar Usuario" ;
    id_password1.setAttribute("required", "true")
    id_password2.setAttribute("required", "true")

    formModal.reset();
    formModal.setAttribute("action", "{% url 'registrar_usuario' %}");
    formModal.setAttribute("method", "POST");
   });

   btnModificar.forEach(function(boton){
    boton.addEventListener("click", function(event) {

      let id_usuario = event.currentTarget.dataset.id;
      const titulo_modal = document.getElementById("titulo-modal");

      // Modificamos clases y Atributos
      campos_password.classList.add("d-none");
      id_password1.removeAttribute("required")
      id_password2.removeAttribute("required")

      titulo_modal.textContent = "Editar Usuario" ;
      formModal.setAttribute("action", `./modificar_usuario/${id_usuario}`);
      formModal.setAttribute("method", "POST");

      obtener_usuario(id_usuario);


    });
   });

   btnRestablecerContraseña.forEach(function(boton){
    boton.addEventListener("click", function(event){
        let id_usuario = event.currentTarget.dataset.id; // Usa event.currentTarget en lugar de event.target
        const formClave = document.getElementById("form-cambio-clave");
        
        formClave.setAttribute("action", `./restablecer_clave/${id_usuario}`);
        formClave.setAttribute("method", "POST");
      });
    });

  function obtener_usuario(id){
    fetch(`./obtener_usuario/${id}`)
    .then(res => res.json())
    .then(datos => {
      id_username.value = datos.usuarios[0].username;
      id_idrol.value =datos.usuarios[0].idrol_id;
      id_first_name.value = datos.usuarios[0].first_name;
      id_last_name.value = datos.usuarios[0].last_name;
    })
    .catch((error) => {
        console.log(error);
    });
  }

  });
</script>
{% endblock %}