{% extends "core/base.html" %} 
{% block titulo %} Roles {% endblock titulo %} 
{% block contenido %}
<div class="container">
  <h1 class="text-start mb-3">Gestion de Roles</h1>
  <div class="row">
    <div class="col-md-4">
      <input
        type="text"
        id="buscador"
        class="form-control mb-2"
        placeholder="Buscar..."
      />
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-2">
      <button
        type="button"
        class="btn btn-success"
        data-toggle="modal"
        data-target="#modalNuevoRol"
      >
        Nuevo Rol
      </button>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped" id="tabla-area">
      <thead>
        <tr>
          <th scope="col">N°</th>
          <th scope="col">Rol</th>
          <th scope="col">Operacion</th>
        </tr>
      </thead>

      <tbody>
        {% for data in roles %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ data.rol }}</td>
          <td>
            <button
              class="btn btn-warning btn-sm editar d-inline-block"
              id="rol"
              data-toggle="modal"
              data-target="#modalEditarRol"
              data-idrol="{{ data.idrol }}"
              data-nombrerol="{{ data.rol }}"
              type="button"
            >
              <i class="lni lni-pencil"></i>
            </button>
            <form
              action="{% url 'eliminar_rol' data.idrol %}"
              class="d-inline-block"
              method="POST"
            >
              {% csrf_token %}
              <button type="submit" class="btn btn-danger btn-sm">
                <i class="lni lni-trash-can"></i>
              </button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- Modal Registrar Base -->
  <div
    class="modal fade"
    id="modalNuevoRol"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modalNuevoRolLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalNuevoRolLabel">Nuevo Rol</h5>
        </div>
        <div class="modal-body">
          <form
            method="post"
            action="{% url 'registrar_rol' %}"
            autocomplete="off"
            id="form-ceco"
          >
            {% csrf_token %} 
            {{form}}
            <button type="submit" class="btn btn-primary">Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Editar Base -->
  <div
    class="modal fade"
    id="modalEditarRol"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modalEditarRolLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalEditarRolLabel">Editar Rol</h5>
        </div>
        <div class="modal-body">
          <form
            method="post"
            action="{% url 'editar_rol' %}"
            autocomplete="off"
            id="form-editar-rol"
          >
            {% csrf_token %}
            <input type="hidden" id="idrol" name="idrol" />
            <input type="text" id="rol" name="rol" class="form-control mb-3" />

            <button type="submit" class="btn btn-primary mt-3">
              Guardar Cambios
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      var editButtons = document.querySelectorAll(".editar");
      editButtons.forEach(function (button) {
        button.addEventListener("click", function () {
          var idRol = this.dataset.idrol;
          var nombreRol = this.dataset.nombrerol;
          document.getElementById("idrol").value = idRol;
          document.getElementById("rol").value = nombreRol;
        });
      });
    });
  </script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  {% endblock %}
</div>
