{% extends 'core/base.html' %}

{% block titulo %}Centro de Costos{% endblock %}

{% block contenido %}

<div class="container">
    <h1 class="text-start mb-3">Gestion de Costos</h1>
    <div class="row">
        <div class="col-md-4">
            <input type="text" id="buscador" class="form-control mb-2" placeholder="Buscar...">
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-2">
            {% if user.idrol.rol != "Gerencia" %}
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalNuevoCeco">Nuevo Ceco</button>
            {% endif %}
        </div>
    </div>
    <div class="table-responsive">
        {% if messages %}
            {% for message in messages %}
                <div id="mensaje" class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        <table class="table table-striped" id="tabla-ceco">
            <thead>
                <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Centro de costo</th>
                    <th scope="col">Estado</th>
                    {% if user.idrol.rol != "Gerencia" %}
                    <th scope="col">Operacion</th>
                    {% endif %}
                </tr>
            </thead>

            <tbody>
                {% for data in datos %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ data.ceco }}</td>
                    <td>{{ data.estado }}</td>
                    {% if user.idrol.rol != "Gerencia" %}
                        <td>
                            <button class="btn btn-warning btn-sm editar d-inline-block" id="ceco" data-toggle="modal" data-target="#modalEditarCeco" data-idceco="{{ data.idceco }}" data-nombrececo="{{ data.ceco }}" type="button"><i class="lni lni-pencil"></i></button>
                            <form action="{% url 'eliminar_ceco' data.idceco %}" class="d-inline-block" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm"><i class="lni lni-trash-can"></i></button>
                            </form>                       
                        </td>  
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h1 id="h1-remplazar" class="text-center"></h1>
    </div>

    <!-- Modal Registrar Ceco -->
    <div class="modal fade" id="modalNuevoCeco" tabindex="-1" role="dialog" aria-labelledby="modalNuevoCecoLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalNuevoCecoLabel">Nuevo Centro de Costo</h5>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'registrar_ceco' %}" autocomplete="off" id="form-ceco">
                        {% csrf_token %}
                        {{ form_ceco }}
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Editar Ceco -->
    <div class="modal fade" id="modalEditarCeco" tabindex="-1" role="dialog" aria-labelledby="modalEditarCecoLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEditarCecoLabel">Editar Centro de Costo</h5>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'editar_ceco' %}" autocomplete="off" id="form-editar-ceco">
                        {% csrf_token %}
                        <input type="hidden" id="ceco_id" name="ceco_id">
                        <div class="form-group">
                            <label for="nombre_ceco">Nombre del Centro de Costo:</label>
                            <!-- el forms toma el name-->
                            <input type="text" class="form-control mb-2" id="nombre_ceco" name="ceco" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    </form>                    
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const h1 = document.querySelector('#h1-remplazar');
        const buscador = document.querySelector('#buscador');
        const filasTabla = document.querySelectorAll('#tabla-ceco tbody tr');

        //Funciones
        function filtrarTabla() {
            const valorBusqueda = buscador.value.trim().toLowerCase();
            let noHayResultados = true;
            filasTabla.forEach(fila => {
                const ceco = fila.querySelector('td:nth-child(2)').textContent.trim().toLowerCase();
                const coincide = ceco.includes(valorBusqueda);

                if (coincide) {
                    fila.style.display = 'table-row';
                    noHayResultados = false;
                } else {
                    fila.style.display = 'none';
                }
            });
            h1.textContent = noHayResultados ? 'Datos no encontrados' : '';
        }

        //Eventos
        buscador.addEventListener('input', filtrarTabla);

        setTimeout(function() {
            var mensaje = document.getElementById('mensaje');
            if (mensaje) {
                mensaje.style.display = 'none';
            }
        }, 3000);

        var editButtons = document.querySelectorAll('.editar');
        editButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                var idCeco = this.dataset.idceco;
                var nombreCeco = this.dataset.nombrececo;
                document.getElementById("ceco_id").value = idCeco;
                document.getElementById("nombre_ceco").value = nombreCeco;
            });
        });
    });
</script>

{% endblock %}
