{% extends 'core/base.html' %} 

{% block titulo %}Estado Mantenimientos{% endblock%} 

{%block contenido %}
<style>
   .big-checkbox {width: 30px; height: 30px;}

</style>
<h1 class="text-center"> Estado de los mantenimientos</h1>
<div class="conatiner mb-3">
  <!-- <div class="row">
    <div class="col col-md-4">
      <label for="" class="form-label">Seleccione Fecha:</label>
      <input type="date" class="form-control">
    </div>
  </div>
</div>
<div class="container mb-3">
  <div class="row">
    <div class="col col-md-4 d-grid">
        <button type="button" class="btn btn-warning btn btn-block" id="btnPendiente">Pendiente</button>
    </div>
    <div class="col col-md-4 d-grid">
        <button type="button" class="btn btn-success btn btn-block" id="btnProceso">En proceso</button>
    </div>
    <div class="col col-md-4 d-grid">
        <button type="button" class="btn btn-secondary btn btn-block" id="btnCompletados">Completados</button>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row" id="cards-mantenimiento">

  </div>
</div>


<div class="modal fade" id="registro_diagnostico" tabindex="-1" aria-labelledby="registro_fecha_label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary justify-content-center">
        <h1 class="modal-title fs-5 text-light" id="titulo-modal">Registrar Detalle</h1>
      </div>

      <form action="{% url 'finalizar_mantenimiento' 1 %}" autocomplete="off" id="form-detalle" method="POST">
        {% csrf_token %}
        <div class="modal-body">
          <div class="row">
            <div class="col col-md-6">
              <label for="fecha-salida" class="forml-label">Fecha de Salida:</label>
              <input type="date" name="fecha-salida" id="fecha-salida" class="form-control mt-2" required> 
            </div>
            <div class="col col-md-6">
              <label for="encargado" class="form-label">Encargado:</label>
              <select name="encargado" id="encargado" class="form-select" required>
                <option value="">Seleccione:</option>
              </select>
            </div>
          </div>
          <h1 class="text-center mt-3" > Acciones</h1>
          <button type="button" class="btn btn-success " id="agregar-tarea">agregar acciones</button>
          <div class="container" id="contenedor-tareas">
            <div class="container tarea" id="cuerpo-acciones">
              <!-- inicio del select -->
              <!-- <div class="row mt-2">
                <div class="col-md-10">
                  <select name="tareas" class="form-control">
                    <option value="">Seleccione</option>
                  </select>
                </div>
                <div class="col-md-1">
                  <div class="form-check">
                    <input class="form-check-input big-checkbox mr-3" type="checkbox" id="inlineCheckbox1" value="option1">
                  </div>
                </div>
                <div class="col-md-1">
                  <button type="button" class="btn-close mt-2 remover-tarea"></button>
                </div>
              </div> -->
              <!-- fin del select -->
            </div>
          </div>

          

          <div class="mb-3 container" id="recambios">
            <h1 class="text-center mt-3">Recambios</h1>
            <button type="button" class="btn btn-success mb-3" id="agregarRecambio">Agregar recambio</button>
          </div>

          <!-- <div class="container" id="contenedor-componentes">
            <button type="button" class="btn btn-success" id="agregar-item">agregar item</button>
            <div class="container componente">
              <div class="row mt-2">
                <div class="col col-md-10">
                  <select name="" id="" class="form-select">
                    <option value="">Accion 1 </option>
                    <option value="">Accion 2</option>
                    <option value="">Accion 3</option>
                    <option value="">Accion 4</option>
                  </select>
                </div>
                <div class="col col-md-2">
                  <button type="button" class="btn btn-danger remove-piece">Eliminar</button>
                </div>
              </div>
            </div>
          </div>
          <span id="error-message" class="text-danger d-none">El mínimo de contenedores es uno.</span> -->
    

        </div>
        <div class="modal-footer">
          <button type="submit" id="Guardar" class="btn btn-outline-primary flex-fill" >Guardar</button>
          <button type="button" id="cerrar" data-bs-dismiss="modal" class="btn btn-outline-danger flex-fill" data-bs-dismiss="modal" >Cerrar </button>
        </div>
      </form>

    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function(){

    const cards = document.getElementById('cards-mantenimiento');
    const contenedorComponente = document.getElementById('contenedor-componentes');
    const contenedorTareas = document.getElementById('contenedor-tareas');
    const errorMessage = document.getElementById('error-message');
    const formDetalle = document.getElementById('form-detalle')
    const btnAgregarItem = document.getElementById('agregar-item');
    const btnAgregarTarea = document.getElementById('agregar-tarea');
    const btnAgregarRecambio = document.getElementById('agregarRecambio');
    var CSRF_TOKEN = '{{ csrf_token }}';

    let det_componente = '';
    let det_tareas = '';
    let det_encargados = '';
    let contador = 0

    // btnAgregarItem.addEventListener('click', agregarComponente)
    btnAgregarTarea.addEventListener('click', function(){
      contador ++;
      console.log(contador)
      createTaskRow(det_tareas, contador)
    });

    btnAgregarRecambio.addEventListener('click',function(){
      let nuevoDiv = document.createElement("div");
      nuevoDiv.classList.add("input-group", "mb-3");

      // Crear un nuevo select
      let nuevoSelect = document.createElement("select");
      nuevoSelect.classList.add("form-select");
      let option1 = document.createElement("option");
      option1.value = "accion1";
      option1.text = "Acción 1";
      let option2 = document.createElement("option");
      option2.value = "accion2";
      option2.text = "Acción 2";
      nuevoSelect.appendChild(option1);
      nuevoSelect.appendChild(option2);

      // Crear un botón de eliminar
      let botonEliminar = document.createElement("button");
      botonEliminar.innerText = "Eliminar";
      botonEliminar.classList.add("btn", "btn-danger");

      // Añadir evento al botón de eliminar
      botonEliminar.addEventListener("click", function () {
      nuevoDiv.remove();
    });

    // Añadir el select y el botón de eliminar al nuevo div
    let divInputGroup = document.createElement("div");
    divInputGroup.classList.add("input-group-append");
    divInputGroup.appendChild(botonEliminar);

    nuevoDiv.appendChild(nuevoSelect);
    nuevoDiv.appendChild(divInputGroup);

    // Añadir el nuevo div al contenedor de recambios
    document.getElementById("recambios").appendChild(nuevoDiv);
    })

    function createTaskRow(datos, contador) {
      const row = document.createElement('div');
      row.className = 'row mt-2';

      const colMd10 = document.createElement('div');
      colMd10.className = 'col-md-10';

      const select = document.createElement('select');
      select.name = '--';
      select.className = 'form-control';
      const option = document.createElement('option');
      option.value = ``;
      option.textContent = `Seleccione:`;

      select.appendChild(option);
      datos.forEach(tarea => {
          const option = document.createElement('option');
          option.value = `${tarea.idaccion}`;
          option.textContent = `${tarea.accion}`;
    
          select.appendChild(option);
      })
      colMd10.appendChild(select);

      let colMd1Checkbox = document.createElement('div');
      colMd1Checkbox.className = 'col-md-1';

      let formCheck = document.createElement('div');
      formCheck.className = 'form-check form-check-inline';

      let checkbox = document.createElement('input');
      checkbox.type = 'checkbox';
      checkbox.className = 'form-check-input big-checkbox mr-3';
      checkbox.name = 'realizado'
      checkbox.id = `inlineCheckbox${contador}`;
      checkbox.value = ``;

      formCheck.appendChild(checkbox);
      colMd1Checkbox.appendChild(formCheck);

      // Crear la tercera columna (botón remover tarea)
      let colMd1Button = document.createElement('div');
      colMd1Button.className = 'col-md-1';

      let button = document.createElement('button');
      button.type = 'button';
      button.className = 'btn-close mt-2 remover-tarea';

      select.addEventListener('change', function(){
        algo = select.value;
        checkbox.value = algo
        console.log(algo)
      })
      button.addEventListener('click', function() {
        // Remover la fila cuando se hace clic en el botón
        checkbox.value = ''
        row.remove();
      });

      colMd1Button.appendChild(button);

      row.appendChild(colMd10);
      row.appendChild(colMd1Checkbox);
      row.appendChild(colMd1Button);

      contenedorTareas.appendChild(row);
    }

    function rederizarTareas(datos){
      contenedorTareas.innerHTML = ''
      datos.forEach(tarea => {
        let row = document.createElement('div');
        row.className = 'row mt-2 ';

        let colmd1 = document.createElement('div');
        colmd1.className = 'col col-md-10';

        let input = document.createElement('input');
        input.type = 'text';
        input.name = 'tareas'
        input.className = 'form-control';
        input.value = `${tarea.tarea}`
        input.setAttribute('readonly', true)
        colmd1.appendChild(input);

        let colmd2 = document.createElement('div');
        colmd2.className = 'col col-md-2';

        let formCheck = document.createElement('div');
        formCheck.className = 'form-check form-check-inline';

        let checkbox = document.createElement('input');
        checkbox.type = 'checkbox';
        checkbox.name = 'realizado';
        checkbox.className = 'form-check-input big-checkbox';
        checkbox.id = 'inlineCheckbox1';
        checkbox.value = `${tarea.idtarea}`;

        formCheck.appendChild(checkbox);

        colmd2.appendChild(formCheck);

        row.appendChild(colmd1);
        row.appendChild(colmd2);

        contenedorTareas.appendChild(row);   
      });
    }

    function rederizarEncargado(datos){
      const Select = document.getElementById('encargado')
      Select.innerHTML= ''
      datos.forEach(encargado => {
        const option = document.createElement('option');
        option.value = encargado.idpersona
        option.text = encargado.nombres,''+'',encargado.apellidos;
        Select.appendChild(option)
      })
    }

    function obtenerMantenimientos(){
        fetch(`./completar_programacion/datos_mantenimiento`)
        .then(res => res.json())
        .then(datos => {
            // console.log(datos);    
            det_tareas = datos.tareas
            det_encargados = datos.personas
            let datos_filtrados = datos.mantenimientos.filter(mantenimiento => mantenimiento.estado == 1);
            // console.log(datos_filtrados)
            renderizarMantenimientos(datos_filtrados);   
        })
        .catch((error) => {
            console.log(error);
        });
    }

    function obtenerDatosImplementos(idprogramacion, idimplemento){
      fetch(`./completar_programacion/datos_implemento/${idprogramacion}/${idimplemento}`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': CSRF_TOKEN
        },
      })
      .then(res => res.json())
      .then(datos => {
          console.log(datos.partes)
          console.log(datos.tareas)
          rederizarTareas(datos.tareas)
      })
      .catch((error) => {
          console.log(error);
      });
    }

    function registrarIngreso(idmantenimiento){
      fetch(`./completar_programacion/registrar_ingreso/${idmantenimiento}`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': CSRF_TOKEN
        },
      })
      .then(res => res.json())
      .then(datos => {
          // Maneja la respuesta aquí
      })
      .catch((error) => {
          console.log(error);
      });
    }

    function renderizarMantenimientos(datos) {
      cards.innerHTML = '';

      datos.forEach(mantenimiento => {
        // Verificar si fecha_programada es null
        let fechaProgramacion = mantenimiento.fechaingreso ? 
          `<p class="card-text text-success m-0 fs-5"><strong>Fecha Ingreso:</strong> ${mantenimiento.fechaingreso}</p>
          </div>
          <div class="card-footer bg-transparent border-success">
           <button class="btn btn-primary mt-1 finalizar-mantenimiento" data-idmantenimiento="${mantenimiento.idmantenimiento}" data-idprogramacion="${mantenimiento.idprogramacion}" data-idimplemento="${mantenimiento.idimplemento}" id="finalizar-mantenimiento" data-bs-toggle="modal" data-bs-target="#registro_diagnostico">Finalizar Mantenimiento</button>
          </div>`
           :

          `</div>
          <div class="card-footer bg-transparent border-success">
            <form>
              <button class="btn btn-primary mt-1 confirmar" data-id="${mantenimiento.idmantenimiento}">Confirmar Llegada</button>
            </form>
          </div>
          `

        let nuevacard = `
        <div class="col col-md-4">
          <div class="card border-success mb-3" >
            <div class="card-header bg-transparent border-success text-center">Mantenimiento ${mantenimiento.idmantenimiento}</div>
              <div class="card-body text-success">
                <h5 class="card-text text-center fw-bold"></h5>
                <p class="card-text text-success m-0 fs-5"><strong>Implemento: </strong> ${mantenimiento.implemento}</p>
                <p class="card-text text-success m-0 fs-5"><strong>Codigo:  </strong> ${mantenimiento.cod_implemento}</p>
                <p class="card-text text-success m-0 fs-5" ><strong>Fecha Programacion:</strong> ${mantenimiento.fecha_programada }</p>
                ${fechaProgramacion}
              </div>
            
          </div>
        </div>
        `;
        cards.innerHTML += nuevacard;
      }); 
      const btnConfimarFecha = document.querySelectorAll('.confirmar')
      const btnFinalizarMantenimiento = document.querySelectorAll('.finalizar-mantenimiento')

      btnConfimarFecha.forEach(function(boton) {
      boton.addEventListener("click", function(event) {
          let id_mantenimiento = event.currentTarget.dataset.id;
          registrarIngreso(id_mantenimiento);
        });
      });
      btnFinalizarMantenimiento.forEach(function(boton){
        boton.addEventListener("click",function(event){
          let id_implemento = event.target.dataset.idimplemento
          let id_programacion = event.target.dataset.idprogramacion
          console.log(id_implemento, id_programacion)
          formDetalle.reset()
          obtenerDatosImplementos(id_programacion, id_implemento)
          rederizarEncargado(det_encargados);
        });
      })

    }

  
    obtenerMantenimientos();

  }); // Fin del DOM
</script>

{% endblock%}