{% extends 'core/base.html' %} 

{% block titulo %}Estado Mantenimientos{% endblock%} 

{%block contenido %}
<style>
   .big-checkbox {width: 30px; height: 30px;}
   .highlight {background-color: #d3d3d3;}
</style>
</style>
<h1 class="text-center"> Estado de los mantenimientos</h1>

<div class="container">
  <div class="row" id="cards-mantenimiento">

  </div>
</div>


<div class="modal fade" id="registro_diagnostico" tabindex="-1" aria-labelledby="example" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary justify-content-center bg-black">
        <h1 class="modal-title fs-5 text-light" id="titulo-modal">Registrar Detalle</h1>
      </div>

      <form autocomplete="off" id="form-detalle" method="POST">
        {% csrf_token %}
        <div class="modal-body " style="background-color: #E5E8E8">
          <div class="row">
            <div class="col col-md-6">
              <label for="fecha-salida" class="forml-label">Fecha de Salida:</label>
              <input type="date" name="fecha-salida" id="fecha-salida" class="form-control mt-2" required> 
            </div>
            <div class="col col-md-6">
              <label for="encargado" class="form-label">Encargado:</label>
              <select name="encargado" id="encargado" class="form-select" required>
                <option value="">Seleccione:</option>
              </select>
            </div>
          </div>
          <h1 class="text-center mt-3" > Acciones</h1>
          <button type="button" class="btn btn-success " id="agregar-tarea">Agregar acciones</button>
          <div class="container" id="contenedor-tareas">
            <div class="container tarea" id="cuerpo-acciones">
            </div>
          </div>    

          <div class="container">
            <h1 class="text-center mt-3">Recambios</h1>
            <!-- <button type="button" class="btn btn-success mb-3" id="agregarRecambio">agregar </button> -->
            <div class="row mb-3">
              <div class="col-md-10">
                <input type="text" id="searchInput" class="form-control" placeholder="Buscar...">
                <ul id="resultList" class="list-group">
                </ul>
              </div>
              <div class="col-md-2">
                <button type="button" class="btn btn-success " id="agregarRecambio">agregar </button>
              </div>
            </div>
          </div>

          <div class="mb-3 container" id="recambios">

          </div>

    
    
        </div>
        <div class="modal-footer">
          <button type="submit" id="Guardar" class="btn btn-outline-primary flex-fill" >Guardar</button>
          <button type="button" id="cerrar" data-bs-dismiss="modal" class="btn btn-outline-danger flex-fill" data-bs-dismiss="modal" >Cerrar </button>
        </div>
      </form>

    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function(){
    const cards = document.getElementById('cards-mantenimiento');
    const contenedorComponente = document.getElementById('contenedor-componentes');
    const contenedor_recambio = document.getElementById('recambios');
    const contenedorTareas = document.getElementById('contenedor-tareas');
    const formDetalle = document.getElementById('form-detalle');
    const btnAgregarItem = document.getElementById('agregar-item');
    const btnAgregarTarea = document.getElementById('agregar-tarea');
    const btnAgregarRecambio = document.getElementById('agregarRecambio');
    const searchInput = document.getElementById('searchInput');
    const resultList = document.getElementById('resultList');
    let currentIndex = -1;
    
    var CSRF_TOKEN = '{{ csrf_token }}';
    
    let datos_busqueda = '';
    let det_componente = '';
    let det_tareas = '';
    let det_encargados = '';
    let contador = 0;
    let fechaProgramacion = '' ;

    btnAgregarTarea.addEventListener('click', function(){
      contador ++;
      // console.log(contador);
      crearTarea(det_tareas, contador);
    });

    function transformData(data) {
        const transformed = [];
        data.componentes.forEach(componente => {
            transformed.push({ type: 'componente', value: componente.componente, codigo: componente.codigo });
        });
        data.pieza.forEach(pieza => {
            transformed.push({ type: 'pieza', value: pieza.pieza, codigo: pieza.codigo });
        });
        return transformed;
    }

    function searchArray(query) {
            resultList.innerHTML = ''; // Limpiar los resultados anteriores
            if (query) {
                const filteredResults = datos_busqueda.filter(item =>
                    item.value.toLowerCase().includes(query.toLowerCase())
                );

                // Mostrar resultados
                filteredResults.forEach((item, index) => {
                    const listItem = document.createElement('li');
                    listItem.textContent = `${item.type.charAt(0).toUpperCase() + item.type.slice(1)}: ${item.value}`;
                    listItem.classList.add('list-group-item');
                    listItem.addEventListener('click', () => {
                        searchInput.value = item.value;
                        resultList.innerHTML = ''; // Limpiar los resultados después de la selección
                    });
                    listItem.addEventListener('mouseover', () => {
                        highlightItem(index);
                    });
                    listItem.addEventListener('mouseout', () => {
                        removeHighlight(index);
                    });
                    resultList.appendChild(listItem);
                });
                currentIndex = -1; // Reiniciar el índice actual cuando se actualiza la lista
            }
        }

    function highlightItem(index) {
        const items = resultList.getElementsByTagName('li');
        for (let i = 0; i < items.length; i++) {
            if (i === index) {
                items[i].classList.add('highlight');
            } else {
                items[i].classList.remove('highlight');
            }
        }
        currentIndex = index; // Actualizar el índice actual al que está resaltado
    }

    function removeHighlight(index) {
        const items = resultList.getElementsByTagName('li');
        if (index >= 0 && index < items.length) {
            items[index].classList.remove('highlight');
        }
    }

    searchInput.addEventListener('input', (e) => {
        const query = e.target.value;
        searchArray(query);
    });

    searchInput.addEventListener('keydown', (e) => {
        const items = resultList.getElementsByTagName('li');
        if (items.length > 0) {
            if (e.key === 'ArrowDown') {
                currentIndex = (currentIndex + 1) % items.length;
                highlightItem(currentIndex);
            } else if (e.key === 'ArrowUp') {
                currentIndex = (currentIndex - 1 + items.length) % items.length;
                highlightItem(currentIndex);
            } else if (e.key === 'Enter' && currentIndex >= 0) {
                searchInput.value = items[currentIndex].textContent;
                resultList.innerHTML = ''; // Limpiar los resultados después de la selección
            }
        }
    });

    btnAgregarRecambio.addEventListener('click',function(){
      let valorinput = searchInput.value;
      // console.log(hola)
      crearComponente(valorinput)
      searchInput.value = '';
    })

    function crearComponente(valor) {
      const row = document.createElement('div');
      row.className = 'row mt-2';

      const colMd10 = document.createElement('div');
      colMd10.className = 'col col-md-10';

      const input = document.createElement('input');
      input.type = 'text';
      input.value = `${valor}`;
      input.name = 'recambios';
      input.className = 'form-control';

      colMd10.appendChild(input);

      const colMd2 = document.createElement('div');
      colMd2.className = 'col col-md-2';

      const button = document.createElement('button');
      button.type = 'button';
      button.className = 'btn-close mt-2 remover-div';

      button.addEventListener('click', function() {
          row.remove();
      });

      colMd2.appendChild(button);

      row.appendChild(colMd10);
      row.appendChild(colMd2);

      contenedor_recambio.appendChild(row);
    }

    function crearTarea(datos, contador) {
      const row = document.createElement('div');
      row.className = 'row mt-2';

      const colMd10 = document.createElement('div');
      colMd10.className = 'col-md-10';

      const select = document.createElement('select');
      select.name = 'tareas_asignadas';
      select.className = 'form-control';
      const option = document.createElement('option');
      option.value = ``;
      option.textContent = `Seleccione:`;

      select.appendChild(option);
      datos.forEach(tarea => {
          const option = document.createElement('option');
          option.value = `${tarea.accion}`;
          option.textContent = `${tarea.accion}`;
    
          select.appendChild(option);
      })
      colMd10.appendChild(select);

      let colMd1Checkbox = document.createElement('div');
      colMd1Checkbox.className = 'col-md-1';

      let formCheck = document.createElement('div');
      formCheck.className = 'form-check form-check-inline';

      let checkbox = document.createElement('input');
      checkbox.type = 'checkbox';
      checkbox.className = 'form-check-input big-checkbox mr-3';
      checkbox.name = 'realizado'
      checkbox.id = `inlineCheckbox${contador}`;
      checkbox.value = ``;

      formCheck.appendChild(checkbox);
      colMd1Checkbox.appendChild(formCheck);

      // Crear la tercera columna (botón remover tarea)
      let colMd1Button = document.createElement('div');
      colMd1Button.className = 'col-md-1';

      let button = document.createElement('button');
      button.type = 'button';
      button.className = 'btn-close mt-2 remover-tarea';

      select.addEventListener('change', function(){
        valor_select = select.value;
        checkbox.value = valor_select
        console.log(valor_select)
      })
      button.addEventListener('click', function() {
        // Remover la fila cuando se hace clic en el botón
        checkbox.value = ''
        row.remove();
      });

      colMd1Button.appendChild(button);

      row.appendChild(colMd10);
      row.appendChild(colMd1Checkbox);
      row.appendChild(colMd1Button);

      contenedorTareas.appendChild(row);
    }

    function rederizarTareas(datos){
      contenedorTareas.innerHTML = ''
      datos.forEach(tarea => {
        let row = document.createElement('div');
        row.className = 'row mt-2 ';

        let colmd1 = document.createElement('div');
        colmd1.className = 'col col-md-10';

        let input = document.createElement('input');
        input.type = 'text';
        input.name = 'tareas_asignadas'
        input.className = 'form-control';
        input.value = `${tarea.tarea}`
        input.setAttribute('readonly', true)
        colmd1.appendChild(input);

        let colmd2 = document.createElement('div');
        colmd2.className = 'col col-md-2';

        let formCheck = document.createElement('div');
        formCheck.className = 'form-check form-check-inline';

        let checkbox = document.createElement('input');
        checkbox.type = 'checkbox';
        checkbox.name = 'realizado';
        checkbox.className = 'form-check-input big-checkbox';
        checkbox.id = 'inlineCheckbox1';
        checkbox.value = `${tarea.tarea}`;

        formCheck.appendChild(checkbox);

        colmd2.appendChild(formCheck);

        row.appendChild(colmd1);
        row.appendChild(colmd2);

        contenedorTareas.appendChild(row);   
      });
    }

    function rederizarEncargado(datos){
      const Select = document.getElementById('encargado')
      Select.innerHTML= ''
      datos.forEach(encargado => {
        const option = document.createElement('option');
        option.value = encargado.idpersona
        option.text = encargado.nombres,''+'',encargado.apellidos;
        Select.appendChild(option)
      })
    }

    function obtenerMantenimientos(){
        fetch(`./proceso/datos_mantenimiento`)
        .then(res => res.json())
        .then(datos => {
            // console.log(datos);    
            det_tareas = datos.tareas
            det_encargados = datos.personas
            let datos_filtrados = datos.mantenimientos.filter(mantenimiento => mantenimiento.estado == 1);
            // console.log(datos_filtrados)
            renderizarMantenimientos(datos_filtrados);   
        })
        .catch((error) => {
            console.log(error);
        });
    }

    function obtenerDatosImplementos(idprogramacion, idimplemento){
      fetch(`./proceso/datos_implemento/${idprogramacion}/${idimplemento}`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': CSRF_TOKEN
        },
      })
      .then(res => res.json())
      .then(datos => {
          // datos_busqueda= datos;
          datos_busqueda = transformData(datos.partes);
          // console.log(datos_busqueda);
          rederizarTareas(datos.tareas);
      })
      .catch((error) => {
          console.log(error);
      });
    }

    function renderizarMantenimientos(datos) {
      cards.innerHTML = '';

      datos.forEach(mantenimiento => {
    
        let nuevacard = `
        <div class="col col-md-4">
          <div class="card border-success mb-3" >
            <div class="card-header bg-transparent border-success text-center">Mantenimiento ${mantenimiento.idmantenimiento}</div>
              <div class="card-body text-success">
                <h5 class="card-text text-center fw-bold"></h5>
                <p class="card-text text-success m-0 fs-5"><strong>Implemento: </strong> ${mantenimiento.implemento}</p>
                <p class="card-text text-success m-0 fs-5"><strong>Codigo:  </strong> ${mantenimiento.cod_implemento}</p>
                <p class="card-text text-success m-0 fs-5" ><strong>Fecha Programacion:</strong> ${mantenimiento.fecha_programada }</p>
                <p class="card-text text-success m-0 fs-5"><strong>Fecha Ingreso:</strong> ${mantenimiento.fechaingreso}</p>
                </div>
                <div class="card-footer bg-transparent border-success">
                  <button class="btn btn-primary mt-1 finalizar-mantenimiento" data-idmantenimiento="${mantenimiento.idmantenimiento}" data-idprogramacion="${mantenimiento.idprogramacion}" data-idimplemento="${mantenimiento.idimplemento}" data-bs-toggle="modal" data-bs-target="#registro_diagnostico">Finalizar Mantenimiento</button>
                </div>
              </div>
          </div>
        </div>
        `;
        cards.innerHTML += nuevacard;
      }); 
      const btnFinalizarMantenimiento = document.querySelectorAll('.finalizar-mantenimiento')

      btnFinalizarMantenimiento.forEach(function(boton){
        boton.addEventListener("click",function(event){
          let id_implemento = event.target.dataset.idimplemento;
          let id_mantenimiento = event.target.dataset.idmantenimiento;
          let id_programacion = event.target.dataset.idprogramacion;
          // console.log(id_implemento, id_programacion)
          formDetalle.setAttribute('action', `./proceso/finalizar_mantenimiento/${id_mantenimiento}`)
          formDetalle.reset();
          contenedor_recambio.innerHTML = '';
          // console.log(id_programacion, id_implemento);
          obtenerDatosImplementos(id_programacion, id_implemento);
          rederizarEncargado(det_encargados);
        });
      })

    }

  
    obtenerMantenimientos();

  }); // Fin del DOM
</script>

{% endblock%}