{% extends 'core/base.html' %}

{% block titulo %}Implemento{% endblock%}

{% block contenido %} 
<table class="table table-striped  table-sm table-bordered text-center table-responsive" id="tabla-implemento">
  <thead class="thead-dark">
      <tr>
          <th>Tipo Implemento</th>
          <th>Implemento</th>
          <th>Cod Implemento</th>
          <th>Tiempo Vida</th>
          <th>Componente</th>
          <th>Codigo</th>
          <th>Horas de uso</th>
          <th>Pieza</th>
          <th>Codigo</th>
          <th>Horas de uso</th>
      </tr>
  </thead>
  <tbody>
  <tr>
    <td>chaski</td>
    <td>chaski 01</td>
    <td>AAAA-1</td>
    <td>100000</td>
    <td>bomba</td>
    <td>ACQ1</td>
    <td>450</td>
    <td>rotores</td>
    <td>CCQ1</td>
    <td>380</td>
  </tr>
  <tr>
    <td>chaski</td>
    <td>chaski 01</td>
    <td>AAAA-1</td>
    <td>100000</td>
    <td>bomba</td>
    <td>ACQ1</td>
    <td>450</td>
    <td>rotores</td>
    <td>CCQ1</td>
    <td>380</td>
  </tr>
  <tr>
    <td>chaski</td>
    <td>chaski 01</td>
    <td>AAAA-1</td>
    <td>100000</td>
    <td>bomba</td>
    <td>ACQ1</td>
    <td>450</td>
    <td>rotores</td>
    <td>CCQ1</td>
    <td>380</td>
  </tr>
  <tr>
    <td>chaski</td>
    <td>chaski 01</td>
    <td>AAAA-1</td>
    <td>100000</td>
    <td>bomba</td>
    <td>ACQ1</td>
    <td>450</td>
    <td>rotores</td>
    <td>CCQ1</td>
    <td>380</td>
  </tr>
  </tbody>
</table>
<script>

</script>

{% endblock %}