{% extends 'core/base.html' %}

{% block titulo %}Implementos Ingreso{% endblock%}

{% block contenido %} 
{% load static %}
<h1 class="text-center">Ingreso de implemento a Mantenimiento</h1>
<div class="d-flex align-items-center mb-2 justify-content-end">
  <div class="legend-color-2"></div>
  <div class="legend-text">
      <strong>Mantenimiento preventivo</strong>
  </div>
</div>

<div class="d-flex align-items-center mb-2 justify-content-end">
  <div class="legend-color-3"></div>
  <div class="legend-text">
      <strong>Mantenimiento correctivo</strong>
  </div>
</div>

<div class="row">
  <div class="col col-md-2">
    <select name="" id="filtro_mantenimiento" class="form-select">
      <option value="">Todo:</option>
      <option value="1">Preventivo:</option>
      <option value="0">Correctivo:</option>
    </select>
  </div>
</div>
<!-- filtros -->
<div class="row"></div>
<!-- fin filtro -->

<div class="row" id="contenido-cards"></div>
<div id="no-results-message" class="alert alert-danger text-center mt-2" style="display: none;">
  No hay implementos por aceptar
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'core/js/swet_alert.js' %}"></script>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    
    const contenerdoCards = document.getElementById('contenido-cards');
    const noResultsMessage = document.getElementById('no-results-message');
    var CSRF_TOKEN = '{{ csrf_token }}';

    function registrarIngreso(idmantenimiento){
      fetch(`./pendiente/registrar_ingreso/${idmantenimiento}`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': CSRF_TOKEN
        },
      })
      .then(res => res.json())
      .then(datos => {
        if (datos.status === 'success') {
          // Manejar el éxito de la operación y redireccionar
          console.log('Ingreso registrado con éxito');
          window.location.href = './pendiente'; 
        } 
      })
      .catch((error) => {
          console.log(error);
      });
    }

    function rederizarMantenimientosPendientes(datos){
      contenerdoCards.innerHTML = '';
      if (datos.length === 0) {
        noResultsMessage.style.display = 'block';
      } else {
        noResultsMessage.style.display = 'none';
        datos.forEach(pendiente => {
          let nuevaCard = `
          <div class="col col-md-3 mt-2">
            <div class="card ${pendiente.tipomantenimiento ? 'border-primary' : 'border-danger'} border-primary shadow p-6 bg-white rounded">
              <div class="card-header ${pendiente.tipomantenimiento ? 'bg-primary' : 'bg-danger'} text-center">
                <strong class="text-white">
                  Mantenimiento #${pendiente.idmantenimiento}
                </strong>
              </div>
              <div class="card-body">
                <p class="card-text m-0"><strong>Implemento: </strong> ${pendiente.implemento}</p>
                <p class="card-text m-0"><strong>Codigo:  </strong> ${pendiente.cod_implemento}</p>
                <p class="card-text m-0"><strong>Fecha Programacion:</strong> ${pendiente.fecha_programada}</p>
              </div>
              <div class="card-footer bg-transparent ${pendiente.tipomantenimiento ? 'border-primary' : 'border-danger'}">
                <form>
                  <button class="btn ${pendiente.tipomantenimiento ? 'btn-primary' : 'btn-danger'} mt-1 w-100 confirmar" data-id="${pendiente.idmantenimiento}">Confirmar Llegada</button>
                </form>
              </div>
            </div>
          </div>
          `;
          contenerdoCards.innerHTML += nuevaCard;
        });

        const btnConfimarFecha = document.querySelectorAll('.confirmar');
        btnConfimarFecha.forEach(function(boton) {
          boton.addEventListener("click", function(event) {
            event.preventDefault();
            let id_mantenimiento = event.currentTarget.dataset.id;
            
            PreguntarConfirmarLlegada(function(){
              registrarIngreso(id_mantenimiento);
            });
          });
        });
      }
    }

    function obtenerDatosMantenimientosPendientes(){
      fetch(`./pendiente/datos_mantenimiento`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': CSRF_TOKEN
        },
      })
      .then(res => res.json())
      .then(datos => {
        filtro = document.getElementById('filtro_mantenimiento')
        rederizarMantenimientosPendientes(datos.mantenimiento);

        filtro.addEventListener('change', function(){
          let value = filtro.value
          console.log(value)
          if(value == ''){
            let prueba = datos.mantenimiento.filter(mantenimiento => mantenimiento.estado == 1);
            rederizarMantenimientosPendientes(prueba); 
          }
          else if(value == '1'){
            let prueba = datos.mantenimiento.filter(mantenimiento => mantenimiento.tipomantenimiento == 1 && mantenimiento.estado == 1);
            rederizarMantenimientosPendientes(prueba);
          }
          else if(value == '0'){
            let prueba = datos.mantenimiento.filter(mantenimiento => mantenimiento.tipomantenimiento == 0 && mantenimiento.estado == 1);
            rederizarMantenimientosPendientes(prueba);
          }
          
        })
      })
      .catch((error) => {
          console.log(error);
      });
    }

    obtenerDatosMantenimientosPendientes();

  });
</script>

{% endblock %}