{% extends 'core/base.html' %}

{% block titulo %}Mantenimientos Pendientes{% endblock%}

{% block contenido %} 
<div class="container">
  <h1 class="text-center">Mantenimientos pendientes</h1>
  <!-- filtros -->
<div class="row">
</div>
<!-- fin filtro -->

<div class="container">
  <div class="row" id="contenido-cards">

  </div>
</div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const contenerdoCards = document.getElementById('contenido-cards')

    var CSRF_TOKEN = '{{ csrf_token }}';

    function registrarIngreso(idmantenimiento){
      fetch(`./pendiente/registrar_ingreso/${idmantenimiento}`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': CSRF_TOKEN
        },
      })
      .then(res => res.json())
      .then(datos => {
        // console.log(datos)
      })
      .catch((error) => {
          console.log(error);
      });
    }

    function rederizarMantenimientosPendientes(datos){
      contenerdoCards.innerHTML=''
      let nuevaCard = ''
      datos.forEach(pendiente => {
      
        nuevaCard = `
        <div class="col col-md-4">
          <div class="card border-success mb-3" >
            <div class="card-header bg-transparent border-success text-center">Mantenimiento ${pendiente.idmantenimiento}</div>
              <div class="card-body text-success">
                <h5 class="card-text text-center fw-bold"></h5>
                <p class="card-text text-success m-0 fs-5"><strong>Implemento: </strong> ${pendiente.implemento}</p>
                <p class="card-text text-success m-0 fs-5"><strong>Codigo:  </strong> ${pendiente.cod_implemento}</p>
                <p class="card-text text-success m-0 fs-5" ><strong>Fecha Programacion:</strong> ${pendiente.fecha_programada }</p>
              </div>
              <div class="card-footer bg-transparent border-success">
                <form>
                  <button class="btn btn-primary mt-1 w-100 confirmar" data-id="${pendiente.idmantenimiento}">Confirmar Llegada</button>
                </form>
              </div>
              </div>
          </div>
        </div>
        `;
        contenerdoCards.innerHTML += nuevaCard;
      });

      const btnConfimarFecha = document.querySelectorAll('.confirmar')
      btnConfimarFecha.forEach(function(boton) {
      boton.addEventListener("click", function(event) {
         let id_mantenimiento = event.currentTarget.dataset.id;
        console.log(`hola ${id_mantenimiento}`)
          registrarIngreso(id_mantenimiento);
        });
      });

    }

    function obtenerDatosMantenimientosPendientes(){
      fetch(`./pendiente/datos_mantenimiento`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': CSRF_TOKEN
        },
      })
      .then(res => res.json())
      .then(datos => {
       rederizarMantenimientosPendientes(datos.mantenimiento)
      })
      .catch((error) => {
          console.log(error);
      });
    }

    obtenerDatosMantenimientosPendientes()

  });
</script>

{% endblock %}