{% extends 'core/base.html' %}

{% block titulo %}Mantenimientos Realizados{% endblock%}

{% block contenido %} 
<div class="container">
  <h1 class="text-center">Mantenimientos Realizados</h1>
  <!-- filtros -->
  <div class="row"></div>

<!-- fin filtro -->

  <div class="container">
    <div class="row" id="contenido-cards">

    </div>
  </div>
</div>

<div class="modal fade" id="detalle_mantenimiento" tabindex="-1" aria-labelledby="example" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary justify-content-center">
        <h1 class="modal-title fs-5 text-light" id="titulo-modal">Detalle Mantenimiento</h1>
      </div>

      <form autocomplete="off" id="form-detalle" >
        <div class="modal-body">
          <h1 class="text-center">Lista de Acciones</h1>
          <div class="row"> 
            <div class="col col-md-6 text-center">
              <h1>Acciones:</h1>
            </div>
            <div class="col col-md-6 text-center">
              <h1>Estado</h1>
            </div>
          </div>
          <div class="container" id="cuerpo_tareas">
          </div>

          <h1 class="text-center">Recambios</h1>
          <div class="row"> 
            <div class="col col-md-6 text-center">
              <h1>Item</h1>
            </div>
            <div class="col col-md-6 text-center">
              <h1>Codigo</h1>
            </div>
          </div>
          <div class="conatiner" id="cuerpo_recambios">

          </div>

        </div>
        <div class="modal-footer">
          <!-- <button type="submit" id="Guardar" class="btn btn-outline-primary flex-fill" >Guardar</button> -->
          <button type="button" id="cerrar" data-bs-dismiss="modal" class="btn btn-outline-danger flex-fill" data-bs-dismiss="modal" >Cerrar </button>
        </div>
      </form>

    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const contenerdoCards = document.getElementById('contenido-cards');
    const contenerdorTareas = document.getElementById('cuerpo_tareas');
    const contenerdorRecambio = document.getElementById('cuerpo_recambios');
    var CSRF_TOKEN = '{{ csrf_token }}';


    function RenderizarDetalleRecambio(datos) {
      let nuevafila = '';
      contenerdorRecambio.innerHTML = '';
      
      if (datos.length > 0) {
        datos.forEach(recambio => {
          nuevafila += `
            <div class="row mt-2">
              <div class="col-md-6">
                <input type="text" class="form-control border border-0 text-center" value="${recambio.item}" readonly>
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control border border-0 text-center" value="${recambio.codigo}" readonly>
              </div>
            </div>
          `;
        });
        contenerdorRecambio.innerHTML = nuevafila;
      } else {
        contenerdorRecambio.innerHTML = '<h1 class="text-center">No hay Recambios para este mantenimiento</h1>';
      }
    }
          
    function RenderizarDetalleMantenimiento(datos){
      let nuevafila = '';
      contenerdorTareas.innerHTML='';
      datos.forEach(tarea =>{
        if (tarea.completado == true){
          dato = `<div class="col-md-6 text-center text-success"><strong>Realizado</strong></div>`
        }else{
          dato = `<div class="col-md-6 text-center text-danger"><strong>No realizado</strong></div>`
        }

        nuevafila = `
        <div class="row mt-2" id="contenerdor-tareas">
          <div class="col-md-6">
            <input type="text" class="form-control border border-0 text-center" value="${tarea.tareas}" readonly>
          </div>
          ${dato}
        </div>
        `;
        contenerdorTareas.innerHTML += nuevafila;
      })
    }

    function obtenerDetalleMantenimiento(idmantenimiento){
      fetch(`./realizado/detalle_mantenimiento/${idmantenimiento}`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': CSRF_TOKEN
        },
      })
      .then(res => res.json())
      .then(datos => {
        RenderizarDetalleRecambio(datos.recambios)
        RenderizarDetalleMantenimiento(datos.tareas)
      })
      .catch((error) => {
          console.log(error);
      });
    }

    function rederizarMantenimientosPendientes(datos){
      contenerdoCards.innerHTML=''
      let nuevaCard = ''

      datos.forEach(realizado => {
        nuevaCard = `
      </div>  <div class="col col-md-4">
        <div class="card border-success mb-3" >
          <div class="card-header bg-transparent border-success text-center">Mantenimiento ${realizado.idmantenimiento}</div>
            <div class="card-body text-success">
              <h5 class="card-text text-center fw-bold"></h5>
              <p class="card-text text-success m-0 fs-5"><strong>Implemento: </strong> ${realizado.implemento}</p>
              <p class="card-text text-success m-0 fs-5"><strong>Codigo:  </strong> ${realizado.cod_implemento}</p>
              <p class="card-text text-success m-0 fs-5" ><strong>Fecha Programacion:</strong> ${realizado.fecha_programada }</p>
              <p class="card-text text-success m-0 fs-5"><strong>Fecha Ingreso:</strong> ${realizado.fechaingreso}</p>
              <p class="card-text text-success m-0 fs-5"><strong>Fecha Salida:</strong> ${realizado.fechasalida}</p>
              <p class="card-text text-success m-0 fs-5"><strong>Encargado:</strong> ${realizado.nombres} ${realizado.apellidos}</p>
            </div>
            <div class="card-footer bg-transparent border-success">
              <form>
                <button type= "button" class="btn btn-primary mt-1 w-100 ver-detalle" data-id="${realizado.idmantenimiento}" data-bs-toggle="modal" data-bs-target="#detalle_mantenimiento">Ver detalle</button>
              </form>
            </div>
            </div>
        </div>
      </div>
        `;
        contenerdoCards.innerHTML += nuevaCard;
      });

      const btnConfimarFecha = document.querySelectorAll('.ver-detalle')
      btnConfimarFecha.forEach(function(boton) {
      boton.addEventListener("click", function(event) {
        let idmantenimiento = event.target.dataset.id
        obtenerDetalleMantenimiento(idmantenimiento)
        });
      });

    }

    function obtenerDatosMantenimientosRealizados(){
      fetch(`./realizados/datos_mantenimiento`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': CSRF_TOKEN
        },
      })
      .then(res => res.json())
      .then(datos => {

        rederizarMantenimientosPendientes(datos.mantenimientos)
      })
      .catch((error) => {
          console.log(error);
      });
    }

    obtenerDatosMantenimientosRealizados()

  });
</script>

{% endblock %}