{% extends "core/base.html" %} 
{% block titulo %} Gestion de Sedes {% endblock titulo %} 
{% block contenido %}
{% load static %}


<div class="container">
  <h1 class="text-center mt-3 mb-3">Gestion de Sedes</h1>
  <div class="row mb-2">
    <div class="col-md-4">
      {% comment %} <input type="text" id="buscador" class="form-control mb-2" placeholder="Buscar..."/> {% endcomment %}
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-2">
      {% if user.idrol.rol != "Gerencia" %}
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalNuevaSede">Nuevo Sede</button>
    {% endif %}
    </div>
  </div>
  <div class="table-responsive">
    {% if messages %}
    {% for message in messages %}
    <div id="message" class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        
        {{ message }}
        
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  
{% endif %}
    <table class="table table-striped table-sm table-bordered mt-3 text-center" id="tabla-area">
      <thead class="text-center table-dark">
        <tr>
          <th class="text-center" scope="col">N°</th>
          <th class="text-center" scope="col">Sedes</th>
          {% if user.idrol.rol != "Gerencia" %}
          <th class="text-center" scope="col">Operacion</th>
          {% endif %}
        </tr>
      </thead>

      <tbody>
        {% for data in sedes %}
        <tr>
          <th class="text-center" scope="row">{{ forloop.counter }}</th>
          <td class="text-center">{{ data.sede }}</td>
          {% if user.idrol.rol != "Gerencia" %}
          <td class="text-center">
            <button class="btn btn-warning btn-sm editar d-inline-block" id="ceco" data-toggle="modal" data-target="#modalEditarSede" data-idsede="{{ data.idsede }}" data-nombresede="{{ data.sede }}" type="button"><i class="lni lni-pencil"></i></button>
          <form action="{% url 'eliminar_sede' data.idsede %}"  id="form-{{ data.idsede }}" class="d-inline-block" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm eliminar" data-registro="{{ data.sede }}" data-id="{{ data.idsede }}">
              <i class="lni lni-trash-can"></i>
            </button>
          </form>
      </td>
      {% endif %}
      
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- Modal Registrar Sede -->
  <div class="modal fade" id="modalNuevaSede" tabindex="-1" role="dialog" aria-labelledby="modalNuevaSedeLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title " id="modalNuevaSedeLabel">Nueva Sede</h5>
        </div>
        <div class="modal-body">
          <form method="post" action="{% url 'registrar_sede' %}" autocomplete="off" id="form-sede">
            {% csrf_token %} 
            {{form}}
            <button type="submit" id="guardar-datos" class="btn btn-primary mt-2">Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Editar Sede -->
  <div class="modal fade" id="modalEditarSede" tabindex="-1" role="dialog" aria-labelledby="modalEditarSedeLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalEditarSedeLabel">Editar Sede</h5>
        </div>
        <div class="modal-body">
          <form method="post" action="{% url 'editar_sede' %}" autocomplete="off" id="form-editar-rol">
            {% csrf_token %}
            <input type="hidden" id="idsede" name="idsede" class="form-control"/>
              <label for="sede">Sede</label>
              <input type="text" class="form-control mt-2 mb-2" id="sede" name="sede" placeholder="Ingrese el nombre de la sede"/>
            <button type="submit" id="guardar-cambios" class="btn btn-primary">Guardar Cambios</button>
          </form>
        </div>
      </div>
    </div>
  </div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'core/js/swet_alert.js' %}"></script>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
    const btnEliminar = document.querySelectorAll(".eliminar");
    const editButtons = document.querySelectorAll(".editar");
    const formEditar = document.getElementById("form-editar-rol")
    const formRegistrar = document.getElementById("form-sede")
    const btnGuardarCambios = document.getElementById("guardar-cambios");
    const btnGuardarRegristro = document.getElementById("guardar-datos");


      setTimeout(function() {
            var errorMessage = document.getElementById('message');
            if (errorMessage) {
                errorMessage.style.display = 'none';
            }
        },3000);

      editButtons.forEach(function (button) {
        button.addEventListener("click", function () {
          var idSede = this.dataset.idsede;
          var nombreSede = this.dataset.nombresede;
          document.getElementById("idsede").value = idSede;
          document.getElementById("sede").value = nombreSede;
        });
      });

      btnEliminar.forEach(function(boton) {
      boton.addEventListener("click", function(event) {
          event.preventDefault();
          let sede = event.currentTarget.dataset.registro;
          let formId = event.currentTarget.dataset.id;
          PreguntarEliminar(sede, function() {
              document.getElementById('form-' + formId).submit();
          });
        });
      });

      btnGuardarRegristro.addEventListener("click", function(event){
        event.preventDefault();
        PreguntarGuardar(function(){formRegistrar.submit();});

      });

      btnGuardarCambios.addEventListener("click", function(event){
        event.preventDefault();
        PreguntarGuardar(function(){formEditar.submit();});

      });



    });
  </script>
  {% endblock %}
</div>
