{% extends 'core/base.html' %}

{% block titulo %}Cultivos{% endblock%}

{% block contenido %} 
<div class="container">
    <h1 class="text-center mt-3 mb-3">Gestion de Cultivos</h1>
    <div class="row">
        <div class="col-md-4">
            <input type="text" id="buscador" class="form-control mb-2" placeholder="Buscar...">
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-2">
            <!-- Colocamos data-bs-toggle="modal" data-bs-target="#modalNuevaArea" : para abrir el modal sin usar JS -->
            {% if user.idrol.rol != "Gerencia" %}
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalRegistrar">Nuevo Cultivo</button>
            {% endif %}
        </div>
    </div>
    <div class="table-responsive">
        {% if messages %}
            {% for message in messages %}
                <div id="mensaje" class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        <table class="table table-striped table-bordered" id="tabla-cultivo">
            <thead class="text-center">
                <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Cultivo</th>
                    {% if user.idrol.rol != "Gerencia" %}
                    <th scope="col">Operaciones</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody class="text-center">
                {% for data in datos %}
                <tr>
                    <th scope="row">{{ forloop.counter}}</th>
                    <td>{{ data.cultivo }}</td>
                    {% if user.idrol.rol != "Gerencia" %}
                    <td>
                        <button class="btn btn-warning btn-sm editar d-inline-block" id="cultivo" data-toggle="modal" data-target="#modalActualizar" data-idcultivo='{{ data.idcultivo }}' data-nombrecultivo="{{ data.cultivo }}" data-idfundo="{{ data.idfundo.idfundo }}" type="button"><i class="lni lni-pencil"></i></button>
                        <form action="{% url 'eliminar_cultivo' data.idcultivo %}" class="d-inline-block" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm"><i class="lni lni-trash-can"></i></button>
                        </form>      
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
                <!--Render-->
            </tbody>
        </table>
        <h1 id="h1-remplazar" class="text-center"></h1>
    </div>

    <div class="modal fade" id="modalRegistrar" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="">Nuevo Cultivo</h5>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'registrar_cultivo' %}" autocomplete="off" id="form-fundo">
                        {% csrf_token %}
                        {{ form_cultivo }}
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--MODAL PARA ACTUALIZAR-->
    <div class="modal fade" id="modalActualizar" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="">Editar Cultivo</h5>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'editar_cultivo' %}" autocomplete="" id="form-editar-cultivo">
                        {% csrf_token %}
                        <input type="hidden" name="cultivo_id" id="cultivo_id">
                        <div class="form-group">
                            <label for="nombrecultivo">Cultivo</label>
                            <input type="text" class="form-control" name="cultivo" id="nombrecultivo">
                        </div>
                        
                        <button type="submit" class="btn btn-primary mt-2">Guardar Cambios</button>
                    </form>
                                    
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const h1 = document.querySelector('#h1-remplazar');
        const buscador = document.querySelector('#buscador');
        const filasTabla = document.querySelectorAll('#tabla-cultivo tbody tr');

        //Funciones
        function filtrarTabla() {
            const valorBusqueda = buscador.value.trim().toLowerCase();
            let noHayResultados = true;
            filasTabla.forEach(fila => {
                const cultivo = fila.querySelector('td:nth-child(2)').textContent.trim().toLowerCase();
                const coincide = cultivo.includes(valorBusqueda);

                if (coincide) {
                    fila.style.display = 'table-row';
                    noHayResultados = false;
                } else {
                    fila.style.display = 'none';
                }
            });
            h1.textContent = noHayResultados ? 'Datos no encontrados' : '';
        }

        //Eventos
        buscador.addEventListener('input', filtrarTabla);

        setTimeout(function() {
            var mensaje = document.getElementById('mensaje');
            if (mensaje) {
                mensaje.style.display = 'none';
            }
        }, 3000);


        var editButtons = document.querySelectorAll('.editar');
        editButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                var idcultivo = this.dataset.idcultivo;
                var nombrecultivo = this.dataset.nombrecultivo;
                var idFundo = this.dataset.idfundo;

                document.querySelector('#cultivo_id').value = idcultivo;
                document.querySelector('#nombrecultivo').value = nombrecultivo;
                document.querySelector('#nombrefundo').value = idFundo;
            });
        });
    });
</script>

{% endblock %}