{% extends 'core/base.html' %}

{% block titulo %}Fundos{% endblock%}

{% block contenido %} 
<div class="container">
    <h1 class="text-start mb-3">Gestion de Fundos</h1>
    <div class="row">
        <div class="col-md-4">
            <input type="text" id="buscador" class="form-control mb-2" placeholder="Buscar...">
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-2">
            <!-- Colocamos data-bs-toggle="modal" data-bs-target="#modalNuevaArea" : para abrir el modal sin usar JS -->
            <button type="button" class="btn btn-success" id="btnNuevaArea">Nuevo Fundo</button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped" id="tabla-area">
            <thead>
                <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Fundo</th>
                    <th scope="col">Sede</th>
                    <th scope="col">Operaciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Santa Clara</td>
                    <td>Ica</td>
                    <td>
                        <button class="btn btn-warning btn-sm editar d-inline-block" id="#" data-toggle="modal" data-target="#" data-id#="{{ data. }}" data-#="{{ data. }}" type="button"><i class="lni lni-pencil"></i></button>
                        <form action="" class="d-inline-block" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm"><i class="lni lni-trash-can"></i></button>
                        </form> 
                    </td>
                </tr>
                <!--Render-->
            </tbody>
            <h1 id="h1-remplazar" class="text-center"></h1>
        </table>
    </div>
</div>
{% endblock %}