{% extends 'core/base.html' %}

{% block titulo %}Lotes{% endblock%}

{% block contenido %} 
<div class="container">
    <h1 class="text-center mt-3 mb-3">Gestion de Lotes</h1>
    <div class="row">
        <div class="col-md-4">
            <input type="text" id="buscador" class="form-control mb-2" placeholder="Buscar...">
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-2">
            <!-- Colocamos data-bs-toggle="modal" data-bs-target="#modalNuevaArea" : para abrir el modal sin usar JS -->
            {% if user.idrol.rol != "Gerencia" %}
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalRegistrar">Nuevo Lote</button>
            {% endif %}
        </div>
    </div>
    <div class="table-responsive">
        {% if messages %}
            {% for message in messages %}
                <div id="mensaje" class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        <table class="table table-striped" id="tabla-lote">
            <thead>
                <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Lote</th>
                    <th scope="col">Fundo</th>
                    <th scope="col">Cultivo</th>
                    <th scope="col">Variedad</th>
                    {% if user.idrol.rol != "Gerencia" %}
                    <th scope="col">Operaciones</th>    
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for data in datos %}
                <tr class="text-center">
                    <th scope="row">{{ forloop.counter}}</th>
                    <td>{{ data.lote}}</td>
                    <td>{{ data.idfundo }}</td>
                    <td>{{ data.idvariedad.idcultivo }}</td>
                    <td>{{ data.idvariedad }}</td>
                    {% if user.idrol.rol != "Gerencia" %}
                    <td>
                        <button class="btn btn-warning btn-sm editar d-inline-block" id="lote" data-toggle="modal" data-target="#modalActualizar" data-idlote='{{ data.idlote }}' data-nombrelote="{{ data.lote }}" data-idcultivo="{{ data.idvariedad.idcultivo }}" data-idvariedad="{{ data.idvariedad.idvariedad }}" type="button"><i class="lni lni-pencil"></i></button>
                        <form action="{% url 'eliminar_lote' data.idlote %}" class="d-inline-block" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm"><i class="lni lni-trash-can"></i></button>
                        </form>      
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
                <!--Render-->
            </tbody>
        </table>
        <h1 id="h1-remplazar" class="text-center"></h1>
    </div>

    <div class="modal fade" id="modalRegistrar" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="">Nuevo Lote</h5>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'registrar_lote' %}" autocomplete="off" id="form-lote">
                        {% csrf_token %}


                        <div class="row">
                            <div class="col col-md-6">
                                <label class="form-label mt-3">Lote:</label>
                                {{ form_lote.lote }}
                            </div>
                            <div class="col col-md-6">
                                <label class="form-label mt-3">Fundo:</label>
                                {{ form_lote.idfundo }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col col-md-6 mb-3" >
                                <label class="form-label">Cultivo:</label>
                                <select name="cultivo" id="txtCultivo" class="form-select">
                                    <option value="">---------</option>
                                    {% for cultivo in cultivos %}
                                    <option value="{{ cultivo.idcultivo }}">{{ cultivo.cultivo }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col col-md-6 mb-3">
                                <label class="form-label">Variedad</label>
                                <select name="idvariedad" id="id_idvariedad" class="form-select">
                                    <option value="">---------</option>
                                    
                                </select>
                                
                            </div>
                        </div>

                        
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!--MODAL PARA ACTUALIZAR-->
    <div class="modal fade" id="modalActualizar" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="">Editar Fundos</h5>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'editar_lote' %}" autocomplete="" id="form-editar-cultivo">
                        {% csrf_token %}
                        <input type="hidden" name="lote_id" id="lote_id">
                        <div class="form-group">
                            <label for="nombrelote">Lote</label>
                            <input type="text" class="form-control" name="lote" id="nombrelote">
                        </div>

                        <label for="idcultivo" class="form-label mt-3">Cultivo</label>
                        <select name="idcultivo" id="nombrecultivo" class="form-control">
                            {% for cultivo in cultivos %}
                                <option value="{{ cultivo.idcultivo }}">{{ cultivo.cultivo }}</option>
                            {% endfor %}
                        </select>

                        <label for="idvariedad" class="form-label mt-3">Variedad</label>
                        <select name="idvariedad" id="nombrevariedad" class="form-control">
                            {% for variedad in variedades %}
                                <option value="{{ variedad.idvariedad }}">{{ variedad.variedad }}</option>
                            {% endfor %}
                        </select>
                        
                        
                        <button type="submit" class="btn btn-primary mt-2">Guardar Cambios</button>
                    </form>
                                    
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    
    document.addEventListener("DOMContentLoaded", () => {
        const h1 = document.querySelector('#h1-remplazar');
        const buscador = document.querySelector('#buscador');
        const filasTabla = document.querySelectorAll('#tabla-lote tbody tr');

        //Funciones
        function filtrarTabla() {
            const valorBusqueda = buscador.value.trim().toLowerCase();
            let noHayResultados = true;
            filasTabla.forEach(fila => {
                const lote = fila.querySelector('td:nth-child(2)').textContent.trim().toLowerCase();
                const coincide = lote.includes(valorBusqueda);

                if (coincide) {
                    fila.style.display = 'table-row';
                    noHayResultados = false;
                } else {
                    fila.style.display = 'none';
                }
            });
            h1.textContent = noHayResultados ? 'Datos no encontrados' : '';
        }

        //Eventos
        buscador.addEventListener('input', filtrarTabla);

        setTimeout(function() {
            var mensaje = document.getElementById('mensaje');
            if (mensaje) {
                mensaje.style.display = 'none';
            }
        }, 3000);


        var editButtons = document.querySelectorAll('.editar');
        editButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                var idlote = this.dataset.idlote;
                var nombrelote = this.dataset.nombrelote;
                var idCultivo = this.dataset.idcultivo;
                var idVariedad = this.dataset.idvariedad;

                document.querySelector('#lote_id').value = idlote;
                document.querySelector('#nombrelote').value = nombrelote;
                document.querySelector('#nombrecultivo').value = idCultivo;
                document.querySelector('#nombrevariedad').value = idVariedad;

                console.log(idVariedad)

            });
        });


        function obtener_datos(idcultivo){
        fetch(`./lote/obtenerdatos/`)
        .then(res => res.json())
        .then(datos => {

            let datos_filtrados = datos.variedad.filter(variedad => variedad.idcultivo_id == idcultivo);
            renderizarOpciones(datos_filtrados);
        })
        .catch((error) => {
            console.log(error);
        });
        }


        function renderizarOpciones(variedades) {
            const select = document.getElementById('id_idvariedad'); 
            select.innerHTML = ''; 

            variedades.forEach(variedad => {
                const option = document.createElement('option');
                option.value = variedad.idvariedad;
                option.text = variedad.variedad;
                select.appendChild(option);
            });
        }


        txtCultivo.addEventListener('change', function(){
            let valorseleccionado = txtCultivo.value;       
            console.log(valorseleccionado)
            obtener_datos(valorseleccionado)
        });


    });
</script>

{% endblock %}