    <!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'core/vendor/bootstrap5/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
    <title>{% block titulo %}{% endblock  %}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/2.3.0/luxon.min.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    {% if user.idrol.rol == "Supervisor" or user.idrol.rol == "Mecanico" or user.idrol.rol == "Asistente" or user.idrol.rol == "Gerencia" %}
    <style>
        .wrapper {
            display: flex;
            height: 100vh;
            overflow: hidden;
        }
    
        .main {
            flex-grow: 1;
            overflow-y: auto;
            padding: 20px;
        }
    </style>
    {% endif %}
    
</head>

<body style="background-color: #E5E8E8;">
    <div class="wrapper">
        <aside id="sidebar" class="sidebar">
            <div class="d-flex">
                <button class="toggle-btn" type="button">
                    <i class="lni lni-grid-alt"></i>
                </button>
                <div class="sidebar-logo">
                    <a href="{% url 'home' %}">CMMS Falcot</a>
                </div>
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link" data-path="inicio">
                        <i class="lni lni-user"></i>
                        <span class="text-uppercase">{{user.first_name}} {{user.last_name}} {{user.idrol}}</span>
                    </a>
                </li>

                {% if user.idrol.rol == "Mecanico"%}
                <li class="sidebar-item">
                    <a href="{% url 'mantenimiento_pendiente' %}" class="sidebar-link" data-path="test">
                        <span class="text-uppercase">Aceptar Ingreso</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{% url 'mantenimiento_proceso' %}" class="sidebar-link" data-path="test">
                        <span class="text-uppercase">Finalizar Mantenimientos</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{% url 'mantenimientos_realizados' %}" class="sidebar-link" data-path="test">
                        <span class="text-uppercase">Historial Manteniento</span>
                    </a>
                </li>
                {% endif %}


                 <!-- Para Gerencia -->
                {% if user.idrol.rol == "Gerencia" %}
                <li class="sidebar-item">
                    <a href="{% url 'home' %}" class="sidebar-link" data-path="test">
                        <span class="text-uppercase">Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{% url 'test' %}" class="sidebar-link" data-path="test">
                        <span class="text-uppercase">Lista de Programaciones</span>
                    </a>
                </li>
                {% endif %}
                <!-- fin Gerencia -->

                <!-- Asistente -->
                {% if user.idrol.rol == "Asistente" %}
                <li class="sidebar-item">
                    <a href="{% url 'reportetractor' %}" class="sidebar-link" data-path="test">
                        <i class="lni lni-clipboard"></i>
                        <span class="text-uppercase">Reporte Tractor</span>
                    </a>
                </li>
                {% endif %}
                <!-- Fin Asistente -->


                <!-- Supervisor-->
                {% if user.idrol.rol == "Supervisor" %}
                <li class="sidebar-item">
                    <a href="{% url 'implemento' %}" class="sidebar-link" data-path="test">
                        <i class="lni lni-construction-hammer"></i>
                        <span class="text-uppercase">Implemento</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{% url 'tractor' %}" class="sidebar-link" data-path="test">
                        <i class="lni lni-ambulance"></i>
                        <span class="text-uppercase">Tractor</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{% url 'programacion' %}" class="sidebar-link" data-path="test">
                        <i class="lni lni-pencil-alt"></i>
                        <span class="text-uppercase">Programación Labor</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{% url 'programacion_mantenimiento' %}" class="sidebar-link" data-path="test">
                        <i class="lni lni-cog"></i>
                        <span class="text-uppercase">Prog mantenimiento</span>
                    </a>
                </li>
                {% endif %}
                
                <!-- Fin Supervisor-->




                {% if user.idrol.rol == "Admin"%}

                
                <li class="sidebar-item">
                    <!--Cambiar las variables del 'data-bs-target=#fundo', por una id unica para que no halla conflicto con el scrip -->
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                        data-bs-target="#ceco" aria-expanded="false" aria-controls="ceco">
                        <i class="lni lni-invest-monitor"></i>
                        <span>CECO - RESPONSABLE</span>
                    </a>
                    <ul id="ceco" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="{% url 'ceco' %}" class="sidebar-link" data-path="login">Centro de Costo</a>
                        </li>
                    </ul>
                </li>


                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                        data-bs-target="#localizacion" aria-expanded="false" aria-controls="localizacion">
                        <i class="lni lni-map-marker"></i>
                        <span>localizacion</span>
                    </a>
                    <ul id="localizacion" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <!-- <li class="sidebar-item">
                            <a href="{% url 'base' %}" class="sidebar-link" data-path="login">Base</a>
                        </li> -->
                        <li class="sidebar-item">
                            <a href="{% url 'sede' %}" class="sidebar-link" data-path="s">Sede</a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item">
                    <!--Cambiar las variables del 'data-bs-target=#fundo', por una id unica para que no halla conflicto con el scrip -->
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                        data-bs-target="#fundo" aria-expanded="false" aria-controls="fundo">
                        <i class="lni lni-sprout"></i>
                        <span>Fundo - Cultivo</span>
                    </a>
                    <ul id="fundo" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="{% url 'fundo' %}" class="sidebar-link" data-path="login">Fundo</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'cultivo' %}" class="sidebar-link" data-path="login">Cultivo</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'variedad' %}" class="sidebar-link" data-path="login">Variedad</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'lote' %}" class="sidebar-link" data-path="login">Lote</a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                        data-bs-target="#componente" aria-expanded="false" aria-controls="componente">
                        <i class="lni lni-cogs"></i>
                        <span>Configuracion</span>
                    </a>
                    <ul id="componente" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="{% url 'sistema' %}" class="sidebar-link">Sistemas</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'componente' %}" class="sidebar-link">Componentes</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'pieza' %}" class="sidebar-link">Piezas</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'det_componente' %}" class="sidebar-link">Asignacion Componente</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'configuracion' %}" class="sidebar-link">Configuracion</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'detalle_cong' %}" class="sidebar-link">Detalle configuracion</a>
                        </li>
                    </ul>
                </li>

                
                

                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                        data-bs-target="#implemento" aria-expanded="false" aria-controls="implemento">
                        <i class="lni lni-construction-hammer"></i>
                        <span>Implemento</span>
                    </a>
                    <ul id="implemento" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        {% if user.idrol.rol == "Admin"%}
                            <li class="sidebar-item">
                                <a href="{% url 'implemento' %}" class="sidebar-link" data-path="login">implemento</a>
                            </li>
                        {% endif %}

                        {% if user.idrol.rol == "Admin" %}
                            <li class="sidebar-item">
                                <a href="{% url 'tipoimplemento' %}" class="sidebar-link" data-path="login">Tipo implemento</a>
                            </li>
                        {% endif %}
                        {% comment %} <li class="sidebar-item">
                            <a href="{% url 'detalleimplemento' %}" class="sidebar-link" data-path="s">Detalle implemento</a>
                        </li> {% endcomment %}
                    </ul>
                </li>

                {% endif %}

                {% if user.idrol.rol == "Admin"%}
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                            data-bs-target="#tractor" aria-expanded="false" aria-controls="tractor">
                            <i class="lni lni-ambulance"></i>
                            <span>Tractor</span>
                        </a>
                        <ul id="tractor" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">

                            {% if user.idrol.rol == "Asistente" %}
                            <li class="sidebar-item">
                                <a href="{% url 'reportetractor' %}" class="sidebar-link" data-path="login">Reporte Tractor</a>
                            </li>
                            {% endif %}
                            
                            
                            {% if user.idrol.rol == "Supervisor" or user.idrol.rol == "Admin" %}
                            <li class="sidebar-item">
                                <a href="{% url 'tractor' %}" class="sidebar-link" data-path="login">Tractor</a>
                            </li>
                            {% endif %}

                            {% if user.idrol.rol == "Admin" %}
                            <li class="sidebar-item">
                                <a href="{% url 'tipotractor' %}" class="sidebar-link" data-path="s">Tipo Tractor</a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}

                {% if user.idrol.rol == "Admin" %}

                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                            data-bs-target="#operarios" aria-expanded="false" aria-controls="operarios">
                            <i class="lni lni-helmet"></i>
                            <span>Operarios</span>
                        </a>
                        <ul id="operarios" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="{% url 'tiposolicitante' %}" class="sidebar-link">Tipo solicitante</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="{% url 'solicitante'%}" class="sidebar-link">Solicitante</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="{% url 'tractorista' %}" class="sidebar-link">Tractoristas</a>
                            </li>
                        </ul>
                    </li>

                    

                {% endif %}

                {% if user.idrol.rol == "Admin" %}
                
                    <li class="sidebar-item">
                        <!--Cambiar las variables del 'data-bs-target=#fundo', por una id unica para que no halla conflicto con el scrip -->
                        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                        data-bs-target="#programacion" aria-expanded="false" aria-controls="programacion">
                        <i class="lni lni-pencil-alt"></i>
                        <span>Programacion</span>
                    </a>
                    <ul id="programacion" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        {% if user.idrol.rol == "Admin" %}
                        <li class="sidebar-item">
                            <a href=" {% url 'tipolabor' %}" class="sidebar-link" data-path="login">Tipos de Labores</a>
                        </li>
                        {% endif %}

                        {% if user.idrol.rol == "Supervisor" %}
                        <li class="sidebar-item">
                            <a href=" {% url 'programacion' %} " class="sidebar-link" data-path="login">Crear Programacion</a>
                        </li>
                        {% endif %}
                        <!-- <li class="sidebar-item">
                            <a href=" {% url 'detallelabor' %}" class="sidebar-link" data-path="login">Detalles Programacion</a>
                        </li> -->
                        
                    </ul>
                </li>

                

           

                {% endif %}

                {% if user.idrol.rol == "Admin" %}
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                            data-bs-target="#usuarios" aria-expanded="false" aria-controls="usuarios">
                            <i class="lni lni-users"></i>
                            <span>Usuarios</span>
                        </a>
                        <ul id="usuarios" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="{% url 'registro_usuario' %}" class="sidebar-link">Registar Usuarios</a>
                            </li>
                        </ul>
                    </li>
                {% endif %}


                


            {% comment %} fin del dropdown {% endcomment %}

            </ul>
            {% if user.is_authenticated %}
                <div class="sidebar-footer">
                    <a href="{% url 'logout' %}" class="sidebar-link">
                        <i class="lni lni-exit"></i>
                        <span>Cerrar sesion</span>
                    </a>
                </div>
            {% endif %}
        </aside>
        
        <div class="main p-3 " style="background-color: #E5E8E8;">
            {% block contenido %} {% endblock %}
        </div>
    </div>
  
    <script src="{% static 'core/vendor/bootstrap5/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'core/js/base.js' %}"></script>
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>