{% extends 'core/base.html' %} 
{% block titulo %}Inicio{% endblock %} 
{% block contenido %}
<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-primary m-2" id="btnExportarExcel" onclick="mostrarDivExportarExcel()">
    Reportes En Excel
  </button>
  <button type="button" class="btn btn-primary m-2" onclick="mostrarDivExportarPDF()">
    Reportes En PDF
  </button>
  <button type="button" class="btn btn-primary m-2" onclick="mostrarFormulario()">
    Reportes Graficos
  </button>
</div>

<div id="divExportarPDF" style="display: none;">
  <form action="{% url 'exportpdf' %}" id="formExportarPDF" method="POST">
    {% csrf_token %}
    <div class="row m-4">
      <h1 class="col">Reporte PDF</h1>
    </div>
    <div class="row m-4">
      <div class="col">
        <div class="form-group">
          <label for="fecha_inicio" class="form-label">Fecha de inicio:</label>
          <input type="date" class="form-control" id="fecha_inicio" name="fecha_inicio">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="fecha_fin" class="form-label">Fecha de fin:</label>
          <input type="date" class="form-control" id="fecha_fin" name="fecha_fin">
        </div>
      </div>
    </div>
    <div class="row m-4">
      <div class="col">
        <div class="form-group">
          <label for="usuario" class="form-label">Usuario:</label>
          <select id="selectuser" class="form-control" id="usuario" name="usuario">
            <option selected disabled>Seleccione un Usuario</option>
            {% for data in usuarios %}
              <option value="{{ data.idusuario }}">{{ data.idusuario__username }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="labor" class="form-label">Labor:</label>
          <select class="form-control" id="labor" name="labor">
            <option selected disabled>Seleccione Una Labor</option>
            {% for data in tipolabor %}
              <option value="{{ data.idtipolabor }}">{{ data.idtipolabor__tipolabor }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="horas_tractor" class="form-label">Horas de uso de tractor:</label>
          <input type="number" class="form-control" id="horas_tractor" name="horas_tractor">
        </div>
      </div>
    </div>
    <div class="row m-4">
      <div class="col">
        <button type="submit" class="btn btn-primary">Exportar Formato PDF</button>
      </div>
    </div>
  </form>
</div>

<div id="formularioGrafico" class="m-4" style="display: none;">
  <form action="{% url 'reporteGrafico' %}" method="POST">
    {% csrf_token %}
    <h1>Reporte Graficos</h1>
    <div class="mb-3">
      <label for="fecha_grafico" class="form-label">Fecha Filtro:</label>
      <input type="date" class="form-control" id="fecha_grafico" name="fecha_grafico" required>
    </div>
    <select name="reporteForma" id="reporteForma" class="form-select">
      <option value="circulo">Circulo</option>
      <option value="barra">Barra</option>
    </select>
    <div class="mt-3">
      <button type="submit" class="btn btn-primary">Mostrar Reportes Graficos</button>
    </div>
  </form>
</div>

<div id="divExportarExcel" style="display: none;">
  <form action="{% url 'exportar' %}" id="formExportarExcel" method="POST">
    {% csrf_token %}
    <div class="row m-4">
      <h1 class="col">Reporte Excel</h1>
    </div>
    <div class="row m-4">
      <div class="col">
        <div class="form-group">
          <label for="fecha_inicio" class="form-label">Fecha de inicio:</label>
          <input type="date" class="form-control" id="fecha_inicio" name="fecha_inicio">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="fecha_fin" class="form-label">Fecha de fin:</label>
          <input type="date" class="form-control" id="fecha_fin" name="fecha_fin">
        </div>
      </div>
    </div>
    <div class="row m-4">
      <div class="col">
        <div class="form-group">
          <label for="usuario" class="form-label">Usuario:</label>
          <select id="selectuser" class="form-control" id="usuario" name="usuario">
            <option selected disabled>Seleccione un Usuario</option>
            {% for data in usuarios %}
              <option value="{{ data.idusuario }}">{{ data.idusuario__username }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="labor" class="form-label">Labor:</label>
          <select class="form-control" id="labor" name="labor">
            <option selected disabled>Seleccione Una Labor</option>
            {% for data in tipolabor %}
              <option value="{{ data.idtipolabor }}">{{ data.idtipolabor__tipolabor }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="horas_tractor" class="form-label">Horas de uso de tractor:</label>
          <input type="number" class="form-control" id="horas_tractor" name="horas_tractor">
        </div>
      </div>
    </div>
    <div class="row m-4">
      <div class="col">
        <button type="submit" class="btn btn-primary">Exportar Formato Excel</button>
      </div>
    </div>
  </form>
</div>

<div id="reporteGrafico"></div>
<script>
  function mostrarDivExportarExcel() {
    var divExportarExcel = document.getElementById('divExportarExcel');
    var divExportarPDF = document.getElementById('divExportarPDF');
    
    if (divExportarExcel.style.display === 'none') {
      divExportarExcel.style.display = 'block';
      divExportarPDF.style.display = 'none';
      resetearFormulario('formExportarPDF');
    } else {
      divExportarExcel.style.display = 'none';
    }

    if (divExportarPDF.style.display === 'block') {
      divExportarPDF.style.display = 'none';
    }
    
    var formularioGrafico = document.getElementById('formularioGrafico');
    if (formularioGrafico.style.display === 'block') {
      formularioGrafico.style.display = 'none';
    }
  }
  
  function mostrarDivExportarPDF() {
    var divExportarExcel = document.getElementById('divExportarExcel');
    var divExportarPDF = document.getElementById('divExportarPDF');
    
    if (divExportarPDF.style.display === 'none') {
      divExportarPDF.style.display = 'block';
      divExportarExcel.style.display = 'none';
      resetearFormulario('formExportarExcel');
    } else {
      divExportarPDF.style.display = 'none';
    }

    if (divExportarExcel.style.display === 'block') {
      divExportarExcel.style.display = 'none';
    }

    var formularioGrafico = document.getElementById('formularioGrafico');
    if (formularioGrafico.style.display === 'block') {
      formularioGrafico.style.display = 'none';
    }
  }

  function mostrarFormulario() {
    var formulario = document.getElementById('formularioGrafico');
    
    if (formulario.style.display === 'block') {
      formulario.style.display = 'none';
    }
    
    var divExportarExcel = document.getElementById('divExportarExcel');
    if (divExportarExcel.style.display === 'block') {
      divExportarExcel.style.display = 'none';
    }
    
    var divExportarPDF = document.getElementById('divExportarPDF');
    if (divExportarPDF.style.display === 'block') {
      divExportarPDF.style.display = 'none';
    }
    
    if (formulario.style.display === 'none') {
      formulario.style.display = 'block';
    } else {
      formulario.style.display = 'none';
    }
  }
  
  function resetearFormulario(formId) {
    document.getElementById(formId).reset();
  }

  document.getElementById("reporteGrafico").innerHTML = "{{ figura|safe }}"
</script>

{% endblock %}
