{% extends "core/base.html" %} 
{% block titulo %} Reporte Tractor {% endblock titulo %} 

{% block contenido %}
{% load static %}

<div class="container">
    <h1 class="text-center">Completar Programación</h1>
    <div class="container">
<!--        <div class="row">-->
<!--            <div class="col col-md-6">-->
<!--                <label for="" class="form-label">Buscar por:</label>-->
<!--                <input type="text" class="form-control" id="busqueda">-->
<!--            </div>-->
<!--            <div class="col col-md-6"></div>-->
<!--        </div>-->
    </div>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col col md 4">
            <label for="selectusuario" class="form-label">Seleccione Solicitante</label>
            <select name="" class="form-select" id="selectusuario">
                <option value="">-----</option>
                {% for usuario in usuarios %}
                    <option value="{{usuario.id}}">{{usuario.first_name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col col md 4">
            <label class="form-label">Seleccione Fecha</label>
            <input class="form-control" id="filter-date" type="date">
        </div>
        <div class="col col md 4"></div>
    </div>

</div>

<div class="container mt-3">
    {% if messages %}
        {% for message in messages %}
        <div id="message" class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            
            {{ message }}
            
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    
    {% endif %}
    <div class="card-group m-3">
    {% for dato in datos %}
        <div class="card m-3 border rounded flex-fill" style="background-color: rgb(255, 255, 255);" data-fecha="{{ dato.fechahora|date:'Y-m-d' }}">
            <div class="card-body d-flex flex-column">
                <h4 class="card-title text-center fw-bold" id="h6">Reporte Tractor {{ dato.idprogramacion }}</h4>
                <div class="report-info">
                    <p class="mt-2 mb-0 fw-bold"><span class="info-label">Tipo labor: </span> {{ dato.idtipolabor }}</p>
                    <p class="mt-2 mb-0 fw-bold"><span class="info-label">Lote: </span> 100A- {{ dato.idlote }}</p>
                    <p class="mt-2 mb-0 fw-bold"><span class="info-label">Tractor: </span> {{ dato.idtractor.idtractor.nrotractor }}</p>
                    <p class="mt-2 mb-0 fw-bold"><span class="info-label">Fecha: </span> {{ dato.fechahora }}</p>

                    <!-- Utilizamos estos datos para los filtros -->
                    <p class="mt-2 mb-0 fw-bold idususario" style="display: none;">{{ dato.idusuario_id }}</p>
                    <p class="mt-2 mb-0 fw-bold tractor" style="display: none;">{{ dato.idtractor.nrotractor }}</p>
                </div>
                {% if user.idrol.rol != "Gerencia" %}
                    <button class="btn btn-primary mt-3 finalizar" data-bs-toggle="modal" data-bs-target="#moda-programacion" data-programacion="{{ dato.idprogramacion }}" data-tractor="{{ dato.idtractor.idtractor.idtractor}}">Finalizar Reporte</button>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
</div>

<div class="modal fade" id="moda-programacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h5 class="modal-title text-white" id="exampleModalLabel">Finalizar Programación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'registrar_reporte' %}" id="form-modal" method="POST">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="" id="detalle-modal">
                        <div class="col col-md-6">
                          <p><strong>Implemento: </strong> dsadad</p>
                          <p><strong>Código del Implemento:</strong> ADDSD  </p>
                        </div>
                        <div class="col col-md-6">
                          <p><strong>Fecha del Ingreso:</strong></p>
                        </div>
                    </div>

                    <label for="txtHorometroinicial" class="form-label mt-1">Horometro tractor Inicial:</label>
                    <input type="text" name="horometroini" class="form-control" id="txtHorometroinicial" required readonly>
                    
                    <label for="id_horometrofinal" class="form-label mt-1">Horometro tractor Final:</label>
                    <input type="number" name="horometrofinal" class="form-control" id="id_horometrofinal" max=0 min=0 required>
                    
                    <label for="id_correlativo" class="form-label mt-1">Correlativo:</label>
                    <input type="number" name="correlativo" class="form-control" id="id_correlativo" required>

                    <input type="hidden" name="idusuario" class="form-control" id="id_idusuario" required value="{{user.id}}">
                    <input type="hidden" name="idprogramacion" class="form-control" id="txtProgramacion" required>

                    
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" style="width: 100%;" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" id="guardar" class="btn btn-primary" style="width: 100%;">Confirmar Reporte</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'core/js/swet_alert.js' %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", () => {

        const btnFinalizar = document.querySelectorAll(".finalizar");
        const btnFecha = document.getElementById('filter-date')
        const btnGuardar = document.getElementById("guardar");
        const formModal = document.getElementById("form-modal")


        const cards = document.querySelectorAll(".card");
        const selectUsuario = document.getElementById("selectusuario");

        setTimeout(function() {
            var errorMessage = document.getElementById('message');
            if (errorMessage) {
                errorMessage.style.display = 'none';
            }
        }, 3000);

        function filtrarCards() {
            const usuarioSeleccionado = selectUsuario.value;
            const fechaSeleccionada = btnFecha.value;

            cards.forEach(card => {
                const idUsuarioCard = card.querySelector(".idususario").textContent.trim();
                const cardDate = card.getAttribute('data-fecha');

                const coincideUsuario = usuarioSeleccionado === idUsuarioCard || usuarioSeleccionado === '';
                const coincideFecha = fechaSeleccionada === cardDate || !fechaSeleccionada;

                if (coincideUsuario && coincideFecha) {
                    card.style.display = "block";
                } else {
                    card.style.display = "none";
                }
            });
        }

        selectUsuario.addEventListener('change', filtrarCards);
        btnFecha.addEventListener('change', filtrarCards);
            
        function rederizarDetalleModal(datos){
            let detModal = document.getElementById('detalle-modal');
            detModal.innerHTML = '';
            datos.forEach(dato => {
                console.log(dato);
                let render = `
                <div class="row">
                    <div class="col col-md-6">
                        <p><strong>Tractor:</strong> ${dato.tractor}<br></p>
                    </div>
                    <div class="col col-md-6">
                        <p><strong>Fundo:</strong> ${dato.fundo}<br></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-md-6">
                        <p><strong>Fecha programación:</strong> ${dato.fecha}<br></p>
                    </div>
                    <div class="col col-md-6">
                        <p><strong>Tipo Labor:</strong> ${dato.labor}<br></p>
                    </div>
                </div>
        
                `; 
                detModal.innerHTML += render;
            });
        }

        function obtener_horainicial(id){
            fetch(`./obtenerhinicial/${id}`)
            .then(res => res.json())
            .then(datos => {
                let datos_tracor = datos.tractor
                rederizarDetalleModal(datos_tracor)
                txtHorometroinicial.value = datos.tractor[0].horainicial
                horometrofinal = parseInt(txtHorometroinicial.value) + 15
                id_horometrofinal.setAttribute("max", horometrofinal)
                id_horometrofinal.setAttribute("min", txtHorometroinicial.value)
            })
            .catch((error) => {
                console.log(error);
            });
        }
        
        
        btnFinalizar.forEach(function(boton){
            boton.addEventListener("click", function(event) {
                let id_programacion = event.target.dataset.programacion;
                console.log(id_programacion)
                let id_tractor = event.target.dataset.tractor;
                console.log(id_tractor)
                txtProgramacion.value = id_programacion
                obtener_horainicial(id_programacion);
            });          
        });

    // btnGuardar.addEventListener("click", function(event) {
    //     if (!formModal.checkValidity()) {
    //         return;
    //     }
    //     event.preventDefault();
    //     PreguntarGuardar(function(){formModal.submit();});
    // });


    
    });
</script>
{% endblock %}