{% extends "core/base.html" %} 
{% block titulo %} Reporte Tractor {% endblock titulo %} 

{% block contenido %}
<div class="container">
    <h1 class="text-center">Completar Programacion</h1>
    <div class="row">
        {% for dato in datos %}
            <div class="col-md-4">
                <div class="card mb-4" style="background-color: rgb(255, 255, 255);">
                    <div class="card-body">
                        <h4 class="card-title text-center fw-bold" id="h6">Reporte Tractor {{ dato.idprogramacion}}</h4>
                        <div class="report-info">
                            <p class="mt-2 mb-0 fw-bold"><span class="info-label">Tipo labor: </span> {{ dato.idtipolabor }}</p>
                            <p class="mt-2 mb-0 fw-bold"><span class="info-label">Lote: </span> 100A- {{ dato.idlote }}</p>
                            <p class="mt-2 mb-0 fw-bold"><span class="info-label">Tractor:</span> {{ dato.idtractor }}</p>
                            <p class="mt-2 mb-0 fw-bold"><span class="info-label">Fecha:</span> {{ dato.fechahora }}</p>
                            <p class="mt-2 mb-0 fw-bold"><span class="info-label">Solicitante:</span> {{ dato.idsolicitante }}</p>
                        </div>
                        {% if user.idrol.rol != "Gerencia" %}
                        <button class="btn btn-primary mt-3 finalizar" data-bs-toggle="modal" data-bs-target="#moda-programacion" data-programacion="{{dato.idprogramacion}}" data-tractor="{{dato.idtractor_id}}" >Finalizar Reporte</button>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 and not forloop.last %}
            </div>
            <div class="row">
            {% endif %}
        {% endfor %}
    </div>
</div>

<div class="modal fade" id="moda-programacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Finalizar Programación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'registrar_reporte' %}" id="form-modal" method="POST">
                <div class="modal-body">
                    {% csrf_token %}

                    <label for="txtHorometroinicial" class="form-label mt-1">Horometro Inicial:</label>
                    <input type="text" name="horometroini" class="form-control" id="txtHorometroinicial" required readonly>
                    
                    <label for="id_horometrofinal" class="form-label mt-1">Horometro Final:</label>
                    <input type="number" name="horometrofinal" class="form-control" id="id_horometrofinal" max=0 min=0 required>
                    
                    <label for="id_correlativo" class="form-label mt-1">Correlativo:</label>
                    <input type="number" name="correlativo" class="form-control" id="id_correlativo" required>

                    <input type="hidden" name="idusuario" class="form-control" id="id_idusuario" required value="{{user.id}}">
                    <input type="hidden" name="idprogramacion" class="form-control" id="txtProgramacion" required>

                    
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" style="width: 100%;" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" style="width: 100%;">Confirmar Reporte</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {

        const btnFinalizar = document.querySelectorAll(".finalizar");

        
        
        
        
        function obtener_horainicial(id){
            fetch(`./reportetractor/obtenerhinicial/${id}`)
            .then(res => res.json())
            .then(datos => {
                txtHorometroinicial.value = datos.tractor[0].horainicial
                horometrofinal = parseInt(txtHorometroinicial.value) + 15
                id_horometrofinal.setAttribute("max", horometrofinal)
                id_horometrofinal.setAttribute("min", txtHorometroinicial.value)
            })
            .catch((error) => {
                console.log(error);
            });
        }
        
        
        btnFinalizar.forEach(function(boton){
            boton.addEventListener("click", function(event) {
                let id_programacion = event.target.dataset.programacion;
                let id_tractor = event.target.dataset.tractor;
                txtProgramacion.value = id_programacion
                obtener_horainicial(id_tractor);
            });          
        });


    
    });
</script>
{% endblock %}
