{% extends "core/base.html" %} 
{% block titulo %} Tipo Tractor {% endblock %} 
{% block contenido %}
{% load static %}

<div class="container">
  <h1 class="text-center mt-3 mb-3">Gestión de Tipo de Tractores</h1>
  <div class="row">
    <div class="col-md-4">
      <!-- <input
        type="text"
        id="buscador"
        class="form-control mb-2"
        placeholder="Buscar..."
      /> -->
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-2">
      {% if user.idrol.rol != "Gerencia" %}
      <button
      type="button"
      class="btn btn-success"
      data-toggle="modal"
      data-target="#modalNuevoTipo"
      >
      Nuevo Tipo
    </button>
    {% endif %}
    </div>
  </div>
  <div class="table-responsive mt-3">
    {% if messages %}
        {% for message in messages %}
        <div id="message" class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            
            {{ message }}
            
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      
    {% endif %}
    <table class="table table-striped table-sm table-bordered mt-3 text-center" id="tabla-tipo-tractor">
      <thead class="text-center table-dark">
        <tr>
          <th class="text-center" scope="col">N°</th>
          <th class="text-center" scope="col">Tipo Tractor</th>
          {% if user.idrol.rol != "Gerencia" %}
          <th class="text-center" scope="col">Operaciones</th>
          {% endif %}
        </tr>
      </thead>
      <tbody class="text-center">
        {% for data in tipotractor %}
        <tr>
          <th scope="row" class="text-center">{{ forloop.counter }}</th>
          <td class="text-center">{{ data.TipoTractor }}</td>
          {% if user.idrol.rol != "Gerencia" %}
          <td class="text-center">
            <button class="btn btn-warning btn-sm editar d-inline-block" id="tipo" data-toggle="modal"
            data-target="#modalEditarTipo" data-idtipo="{{ data.idtipotractor }}"
            data-nombretipotractor="{{ data.TipoTractor }}" type="button">
            <i class="lni lni-pencil"></i>
          </button>
          
          <form action="{% url 'eliminar_tipotractor' data.idtipotractor %}" id="form-{{ data.idtipotractor }}" class="d-inline-block" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm eliminar" data-registro="{{ data.TipoTractor }}" data-id="{{ data.idtipotractor }}">
              <i class="lni lni-trash-can"></i>
            </button>
          </form>
        </td>
        {% endif %}
      </tr>
      
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- Modal Registrar Sede -->
  <div
    class="modal fade"
    id="modalNuevoTipo"
    tabindex="-1"
    aria-labelledby="modalNuevoTipoLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalNuevoTipoLabel">Nuevo Tipo de Tractor</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <form method="post" action="{% url 'registrar_tipotractor'  %}" autocomplete="off" id="form-tipotractor">
        <div class="modal-body">
            {% csrf_token %} 
            
            {{form}}
          </div>
          <div class="modal-footer">
            <button type="submit" id="guardar-datos" class="btn btn-outline-primary flex-fill">Guardar</button>
            <button type="button" data-bs-dismiss="modal" class="btn btn-outline-danger flex-fill" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Editar Base -->
<div
  class="modal fade"
  id="modalEditarTipo"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalEditarTipoLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalEditarTipoLabel">Editar Tipo Tractor</h5>
      </div>
      <div class="modal-body">
        <form
          method="post"
          action="{% url 'editar_tipo' %}"
          autocomplete="off"
          id="form-editar-tipo"
        >
          {% csrf_token %}
          <input type="hidden" id="idtipotractor" name="idtipotractor" />
          <label class="form-label">Tipo de tractor:</label>
          <input
            type="text"
            id="TipoTractor"
            name="TipoTractor"
            class="form-control mb-3"
            required
          />

          <button type="submit" id="guardar-cambios" class="btn btn-primary">Guardar Cambios</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'core/js/swet_alert.js' %}"></script>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const TipoTractores = document.querySelectorAll("#tabla-tipo-tractor tbody tr");
    const inputBuscar = document.getElementById("buscador");
    const btnGuardar = document.getElementById("guardar");
    const btnEliminar = document.querySelectorAll(".eliminar")
    const formEditar = document.getElementById("form-editar-tipo")
    const formRegistrar = document.getElementById("form-tipotractor")
    const btnGuardarCambios = document.getElementById("guardar-cambios");
    const btnGuardarRegristro = document.getElementById("guardar-datos");
    const editButtons = document.querySelectorAll(".editar");


    setTimeout(function() {
      var errorMessage = document.getElementById('message');
      if (errorMessage) {
        errorMessage.style.display = 'none';
      }
    }, 3000);
        



    editButtons.forEach(function (button) {
      button.addEventListener("click", function () {
        var idTipo = this.dataset.idtipo;
        var nombreTipo = this.dataset.nombretipotractor;

        document.getElementById("idtipotractor").value = idTipo;
        document.getElementById("TipoTractor").value = nombreTipo;
      });
    });

    btnEliminar.forEach(function(boton) {
      boton.addEventListener("click", function(event) {
          event.preventDefault();
          let tipotractor = event.currentTarget.dataset.registro;
          let formId = event.currentTarget.dataset.id;
          PreguntarEliminar(tipotractor, function() {
              document.getElementById('form-' + formId).submit();
          });
      });
    });

    btnGuardarRegristro.addEventListener("click", function(event){
      if (!formRegistrar.checkValidity()) {
          return;
      }
      event.preventDefault();
      PreguntarGuardar(function(){formRegistrar.submit();});

    });

    btnGuardarCambios.addEventListener("click", function(event){
      if (!formEditar.checkValidity()) {
          return;
      }
      event.preventDefault();
      PreguntarGuardar(function(){formEditar.submit();});

    });



  });


</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}
