{% extends "core/base.html" %} 
{% block titulo %} Tractor {% endblock titulo %}
{% block contenido %}
<div class="container">
  <h1 class="text-start mb-3">Gestion Tractores</h1>
  <div class="row">
    <div class="col-md-4">
      <input
        type="text"
        id="buscador"
        class="form-control mb-2"
        placeholder="Buscar..."
      />
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-2">
      {% if user.idrol.rol != "Gerencia" %}
      <button
      type="button"
      class="btn btn-success"
      data-toggle="modal"
      data-target="#modalNuevoTractor"
      >
      Nuevo Tractor
    </button>
    {% endif %}
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped" id="tabla-area">
      <thead>
        <tr>
            <th scope="col" class="text-center">N°</th>
            <th scope="col" class="text-center">Tipo Tractor</th>
            <th scope="col" class="text-center">Usuario</th>
            <th scope="col" class="text-center">Nro Tractor</th>
            <th scope="col" class="text-center">Hora Inicial</th>
            <th scope="col" class="text-center">Hora de Uso</th>
            {% if user.idrol.rol != "Gerencia" %}
            <th scope="col" class="text-center">Acción</th>
            {% endif %}
        </tr>
    </thead>
    
    <tbody>
        {% for data in tractores %}
        <tr>
            <th scope="row" class="text-center">{{ forloop.counter }}</th>
            <td class="text-center">{{ data.idtipotractor }}</td>
            <td class="text-center">{{ data.idusuario }}</td>
            <td class="text-center">{{ data.nrotractor }}</td>
            <td class="text-center">{{ data.horainicial }}</td>
            <td class="text-center">{{ data.horauso }}</td>
            {% if user.idrol.rol != "Gerencia" %}
            <td class="text-center">
              <button class="btn btn-warning btn-sm editar d-inline-block" id="tractor" data-toggle="modal"
              data-target="#modalEditarTractor" data-idtractor="{{ data.idtractor }}"
              data-nrotractor="{{data.nrotractor}}" data-horauso="{{data.horauso}}"
              data-horaini="{{data.horainicial}}" data-idtipotractor="{{data.idtipotractor}}" type="button">
              <i class="lni lni-pencil"></i>
            </button>
            <form action="{% url 'eliminartractor' data.idtractor %}" class="d-inline-block" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger btn-sm">
                <i class="lni lni-trash-can"></i>
              </button>
            </form>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- Modal Registrar Tractor -->
  <div
    class="modal fade"
    id="modalNuevoTractor"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modalNuevoTractorLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalNuevoTractorLabel">Nuevo Tractor</h5>
        </div>
        <div class="modal-body">
          <form
            method="post"
            action="{% url 'registrar_tractor' %}"
            autocomplete="off"
            id="form-area"
          >
            {% csrf_token %} 
            {{form}}
            <button type="submit" class="btn btn-primary mt-3">Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Editar Tractor -->
  <div
    class="modal fade"
    id="modalEditarTractor"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modalEditarTractorLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalEditarTractorLabel">
            Editar Tractor
          </h5>
        </div>
        <div class="modal-body">
          <form
            method="post"
            action="{% url 'editar_tractor' %}"
            autocomplete="off"
            id="form-editar-tractor"
          >
            {% csrf_token %}
            <input type="hidden" id="idtractor" name="idtractor" />

            <!-- Campo idtipotractor con Bootstrap -->
            <div class="form-group">
              <select name="idtipotractor" id="idtipotractor" class="form-control mt-2 mb-2">
                {% for tipo in tipotractor %}
                  <option value="{{tipo.idtipotractor}}">{{tipo.TipoTractor}}</option>
                {% endfor %}
              </select>
            </div>

            <!-- Campo idusuario con Bootstrap -->
            <div class="form-group">
              {{ form.idusuario.label_tag }} {{ form.idusuario }}
            </div>

            <!-- Campo nrotractor con Bootstrap -->
            <div class="form-group">
              <label for="nrotractor">Nombre de Tractor</label>
              <input
                type="text"
                id="nrotractor"
                name="nrotractor"
                class="form-control"
              />
            </div>

            <!-- Campo horainicial con Bootstrap -->
            <div class="form-group">
              <label for="horainicial">Hora Inicial</label>
              <input
                type="number"
                id="horainicial"
                name="horainicial"
                class="form-control"
              />
            </div>

            <!-- Campo horauso con Bootstrap -->
            <div class="form-group">
              <label for="horauso">Hora de Uso</label>
              <input
                type="number"
                id="horauso"
                name="horauso"
                class="form-control"
              />
            </div>

            <!-- Botón de submit con Bootstrap -->
            <button type="submit" class="btn btn-primary mt-3">
              Guardar Cambios
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      var editButtons = document.querySelectorAll(".editar");
      editButtons.forEach(function (button) {
        button.addEventListener("click", function () {
          var idTractor = this.dataset.idtractor;
          var nroTractor = this.dataset.nrotractor;
          var horaini = this.dataset.horaini;
          var horauso = this.dataset.horauso;
          document.getElementById("idtractor").value = idTractor;
          document.getElementById("nrotractor").value = nroTractor;
          document.getElementById("horainicial").value = horaini;
          document.getElementById("horauso").value = horauso;
        });
      });
    });
  </script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  {% endblock %}
</div>
