{% extends "core/base.html" %} 
{% block titulo %} Tractor {% endblock titulo %}
{% block contenido %}
{% load static %}
<div class="container">
  <h1 class="text-center mt-3 mb-3">Gestión Tractores</h1>
  <div class="row">
    <div class="col-md-4">
      <input
        type="text"
        id="buscador"
        class="form-control mb-2"
        placeholder="Buscar por fundo..."
      />
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-2">
      {% if user.idrol.rol == "Admin" %}
      <button
      type="button"
      class="btn btn-success"
      data-toggle="modal"
      data-target="#modalNuevoTractor"
      >
      Nuevo Tractor
    </button>
    {% endif %}
    </div>
  </div>
  <div class="table-responsive">
    {% if messages %}
        {% for message in messages %}
        <div id="message" class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            
            <strong>{{ message }}</strong>
            
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      
    {% endif %}
    <table class="table table-striped table-sm table-bordered mt-3 text-center" id="tabla-tractor">
      <thead class="text-center table-dark">
        <tr>
            <th scope="col" class="text-center">N°</th>
            <th scope="col" class="text-center">Tipo Tractor</th>
            {% if user.idrol.rol != "Supervisor" %}
            <th scope="col" class="text-center">Supervisor a Cargo</th>
            {% endif %}
            <th scope="col" class="text-center">Fundo</th>
            <th scope="col" class="text-center">Nombre Tractor</th>
            <th scope="col" class="text-center">Horometro Inicial</th>
            <th scope="col" class="text-center">Hora de Uso</th>
            {% if user.idrol.rol == "Admin" %}
            <th scope="col" class="text-center">Operaciones</th>
            {% endif %}
        </tr>
    </thead>
    
    <tbody class="text-center">
        {% for data in tractores %}
        
        <tr>
            <th scope="row" class="text-center">{{ forloop.counter }}</th>
            <td class="text-center">{{ data.idtipotractor }}</td>
            {% if user.idrol.rol != "Supervisor" %}
              <!-- <td class="text-center">{{ data.idusuario}}</td> -->
              <td class="text-center">{{ data.supervisor_nombre_completo}}</td>
            {% endif %}
            <td class="text-center">{{ data.idfundo }}</td>
            <td class="text-center">{{ data.nrotractor }}</td>
            <td class="text-center">{{ data.horainicial }}</td>
            <td class="text-center">{{ data.horauso }}</td>
            {% if user.idrol.rol == "Admin" %}
              <td class="text-center">
                <button class="btn btn-warning btn-sm editar d-inline-block" id="tractor" data-toggle="modal"
                data-target="#modalEditarTractor" data-idtractor="{{ data.idtractor }}" data-idfundo="{{ data.idfundo.idfundo }}"
                data-idusuario="{{ data.idusuario }}" data-usuario="{{ data.idusuario.id }}"
                data-nrotractor="{{data.nrotractor}}" data-horauso="{{data.horauso}}"
                data-horaini="{{data.horainicial}}" data-idtipotractor="{{data.idtipotractor}}" type="button">
                <i class="lni lni-pencil"></i>
              </button>
              {% if data.idusuario == none %}
                <button class="btn btn-success btn-sm d-inline-block agregar-supervisor" data-id="{{data.idtractor}}" data-bs-toggle="modal" data-bs-target="#modal-supervisor"><i class="lni lni-user"></i></button>
              {% else %}
                <button class="btn btn-secondary btn-sm d-inline-block quitar-supervisor" data-id="{{data.idtractor}}" data-bs-toggle="modal" data-bs-target="#modal-supervisor"><i class="lni lni-users"></i></button>
              {% endif %}
              <form action="{% url 'eliminartractor' data.idtractor %}" id="form-{{ data.idtractor }}" class="d-inline-block" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm eliminar" data-registro="{{ data.nrotractor }}" data-id="{{ data.idtractor }}">
                  <i class="lni lni-trash-can"></i>
                </button>
              </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- Modal Registrar Tractor -->
  <div
    class="modal fade"
    id="modalNuevoTractor"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modalNuevoTractorLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalNuevoTractorLabel">Nuevo Tractor</h5>
        </div>
        <div class="modal-body">
          <form method="post" action="{% url 'registrar_tractor' %}" autocomplete="off" id="form-tractor"
          >
            {% csrf_token %} 
            {{form}}
            <button type="submit" id="guardar-datos" class="btn btn-primary mt-3">Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Editar Tractor -->
  <div
    class="modal fade"
    id="modalEditarTractor"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modalEditarTractorLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalEditarTractorLabel">
            Editar Tractor
          </h5>
        </div>
        <div class="modal-body">
          <form
            method="post"
            action="{% url 'editar_tractor' %}"
            autocomplete="off"
            id="form-editar-tractor"
          >
            {% csrf_token %}
            <input type="hidden" id="idtractor" name="idtractor" />


            <!-- Campo idtipotractor con Bootstrap -->
            <div class="form-group">
              <label for="idtipotractor">Tipo Tractor:</label>
              <select name="idtipotractor" id="idtipotractor" class="form-control mt-2 mb-2" >
                {% for tipo in tipotractor %}
                  <option value="{{tipo.idtipotractor}}">{{tipo.TipoTractor}}</option>
                {% endfor %}
              </select>
            </div>

            <!-- Campo idfundo con Bootstrap -->
            <div class="form-group">
              <label for="idfundo">Fundo</label>
              <select name="idfundo" id="idfundo" class="form-control mt-2 mb-2">
                {% for fundo in fundo %}
                  <option value="{{fundo.idfundo}}">{{fundo.fundo}}</option>
                {% endfor %}
              </select>
            </div>

            <!-- Campo nrotractor con Bootstrap -->
            <div class="form-group">
              <label for="nrotractor">Nombre de Tractor</label>
              <input
                type="text"
                id="nrotractor"
                name="nrotractor"
                class="form-control"
              />
            </div>

            <!-- Campo horainicial con Bootstrap -->
            <div class="form-group">
              <label for="horainicial">Horometro Inicial</label>
              <input
                type="number"
                id="horainicial"
                name="horainicial"
                class="form-control bg-secondary"
                readonly
              />
            </div>

            <!-- Campo horauso con Bootstrap -->
            <div class="form-group">
              <label for="horauso">Hora de Uso</label>
              <input
                type="number"
                id="horauso"
                name="horauso"
                class="form-control bg-secondary"
                readonly
              />
            </div>

            <!-- Botón de submit con Bootstrap -->
            <button type="submit" id="guardar-cambios" class="btn btn-primary mt-3">
              Guardar Cambios
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modal-supervisor" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-primary justify-content-center" >
                <h1 class="modal-title fs-5 text-light" id="titulo-modal-supervisor">Supervisor</h1>
            </div>
                <form autocomplete="off" id="form-supervisor" >
                    <div class="modal-body">
                        {% csrf_token %}
                        <label class="form-label" for="select-usuario">Seleccione al supervisor:</label>
                        <select class="form-select mt-1" id="select-usuario" name="select-usuario" required>
                            <option value="">--------</option>
                            {% for dato in usuario %}
                            <option value="{{dato.id}}">{{dato.first_name}} {{dato.last_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="guardar" class="btn btn-outline-primary flex-fill"><i class="bi bi-check-square-fill"></i>Guardar</button>
                        <button type="button" id="cerrar" data-bs-dismiss="modal" class="btn btn-outline-danger flex-fill" data-bs-dismiss="modal"><i class="bi bi-x-square-fill"></i>Cerrar</button>
                    </div>
                </form>
        </div>
    </div>
</div>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'core/js/swet_alert.js' %}"></script>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const tractores = document.querySelectorAll("#tabla-tractor tbody tr");
      const Busqueda = document.getElementById("buscador");
      const btnEliminar = document.querySelectorAll(".eliminar")
      const formEditar = document.getElementById("form-editar-tractor")
      const formRegistrar = document.getElementById("form-tractor")
      const btnGuardarCambios = document.getElementById("guardar-cambios");
      const btnGuardarRegristro = document.getElementById("guardar-datos");
      const btnAgregarSupervisor = document.querySelectorAll(".agregar-supervisor")
      const btnQuitarSupervisor = document.querySelectorAll(".quitar-supervisor")
      const formModalSupervisor = document.getElementById("form-supervisor")
      const formTituloModalSupervisor = document.getElementById("titulo-modal-supervisor")

      function asignarAtributosFormularioSupervisor(id, tipoboton){
        console.log(id)
        console.log(tipoboton)
        if (tipoboton == 1) {
            formTituloModalSupervisor.innerHTML = "Asignar Supervisor"
            formModalSupervisor.setAttribute("action", `./asignar_supervisor/${id}`);
            formModalSupervisor.setAttribute("method", "POST");
        }if (tipoboton == 2) {

            formTituloModalSupervisor.innerHTML = "Cambiar de Supervisor"
            formModalSupervisor.setAttribute("action", `./quitar_supervisor/${id}`);
            formModalSupervisor.setAttribute("method", "POST");
        } 
      }
    
      btnAgregarSupervisor.forEach(function(boton) {
      boton.addEventListener("click", function(event) {

        let id_dato = event.currentTarget.dataset.id;
        console.log(id_dato); 
        asignarAtributosFormularioSupervisor(id_dato,1)

        });
      });

      btnQuitarSupervisor.forEach(function(boton) {
      boton.addEventListener("click", function(event) {

        let id_dato2 = event.currentTarget.dataset.id;
        console.log(id_dato2); 
        asignarAtributosFormularioSupervisor(id_dato2,2)
        });
      });

    


        // Agregar un event listener para el evento de entrada en el campo de búsqueda
      Busqueda.addEventListener("input", function() {
          
          var valorBusqueda = Busqueda.value.toLowerCase();

          // Iterar sobre los implementos y mostrar u ocultar según el término de búsqueda
          tractores.forEach(function(tractor) {
              var tipoTractor = tractor.querySelector("td:nth-child(2)").textContent.toLowerCase(); 
              var supervisor = tractor.querySelector("td:nth-child(3)").textContent.toLowerCase(); 
              var nombreTractor = tractor.querySelector("td:nth-child(5)").textContent.toLowerCase();
              
              // Verificar si alguno de los campos coincide con el término de búsqueda
              if (tipoTractor.includes(valorBusqueda) || supervisor.includes(valorBusqueda) || nombreTractor.includes(valorBusqueda)) {
                  tractor.style.display = ""; 
              } else {
                  tractor.style.display = "none";
              }
          });
      });

      setTimeout(function() {
            var errorMessage = document.getElementById('message');
            if (errorMessage) {
                errorMessage.style.display = 'none';
            }
        }, 3000);

      var editButtons = document.querySelectorAll(".editar");
      editButtons.forEach(function (button) {
        button.addEventListener("click", function () {
          var idTractor = this.dataset.idtractor;
          var nroTractor = this.dataset.nrotractor;
          var usuario = this.dataset.usuario;
          var fundo = this.dataset.idfundo;
          var horaini = this.dataset.horaini;
          var horauso = this.dataset.horauso;

          document.getElementById("idtractor").value = idTractor;
          document.getElementById("nrotractor").value = nroTractor;
          document.getElementById("horainicial").value = horaini;
          document.getElementById("horauso").value = horauso;
          // document.getElementById("idusuario").value = usuario;
          document.getElementById("idfundo").value = fundo;
        });
      });

      btnEliminar.forEach(function(boton) {
        boton.addEventListener("click", function(event) {
            event.preventDefault();
            let tipotractor = event.currentTarget.dataset.registro;
            let formId = event.currentTarget.dataset.id;
            PreguntarEliminar(tipotractor, function() {
                document.getElementById('form-' + formId).submit();
            });
        });
      });

      btnGuardarRegristro.addEventListener("click", function(event){
        if (!formRegistrar.checkValidity()) {
          return;
        }

        event.preventDefault();
        PreguntarGuardar(function(){formRegistrar.submit();});

      });

      btnGuardarCambios.addEventListener("click", function(event){
          if (!formEditar.checkValidity()) {
          return;
          }
          event.preventDefault();
          PreguntarGuardar(function(){formEditar.submit();});

      });


    });
  </script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  {% endblock %}
</div>
