{% extends 'core/base.html' %}

{% block titulo %}Implemento{% endblock%}

{% block contenido %} 
<h1 class="text-center mb-2">Implementos</h1>
<div class="row mt-4">
    <div class="col md-3 mb-3">
        <form>
            <div class="input-group">
                <input type="text" class="form-control" id="buscar" value="" placeholder="Buscar...">
                <button class="btn btn-md btn-outline-secondary">Buscar</i></button>
            </div>
        </form>
    </div>
    <div class="col-md-3 mb-3">

    </div>
    <div class="col-md-3 mb-3">
        {% if user.idrol.rol == "Administrador" %}
            <button type="button" class="btn btn-primary" id="registrar-implemento" data-bs-toggle="modal" data-bs-target="#modal-implemento">Agregar Implemento</button>
        {% endif %}
    </div>
</div>

<div class="table-responsive">
    {% if messages %}
        {% for message in messages %}
            <div id="mensaje" class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>                </div>
        {% endfor %}
    {% endif %}
    <table class="table table-striped  table-sm table-bordered text-center" id="tabla-sistema">
        <thead class="thead-dark">
            <!-- <colgroup>
                <col width="15%">
                <col width="15%">       
                <col width="15%">
                <col width="15%">
                <col width="15%">
                <col width="15%">
            </colgroup> -->
            <tr>
                <th scope="col">Area</th>
                <th scope="col">Tipo Implemento</th>
                <th scope="col">Implemento</th>
                <th scope="col">Tiempo Vida</th>
                <th scope="col">Horas de uso</th>
                <th scope="col">Codigo implemento</th>
                <th scope="col">Centro de Costo</th>
                <th scope="col">Supervisor</th>
                {% if user.idrol.rol != "Gerencia" %}
                <th scope="col">Operaciones</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for dato in datos %}
            {% if dato.idusuario == user.id %}

         <tr>
            <td>{{dato.idarea}}</td>
            <td>{{dato.idtipoimplemento}}</td>
            <td>{{dato.implemento}}</td>
            <td>{{dato.tiempovida}}</td>
            <td>{{dato.horasdeuso}}</td>
            <td>{{dato.codimplemento}}</td>
            <td>{{dato.idceco}}</td>
            <td>{{dato.idusuario.first_name}}</td>
            {% if user.idrol.rol != "Gerencia" %}
            <td>
                <button onclick="" class="btn btn-warning editar d-inline-block" id="editar-implemento" data-id="{{dato.idimplemento}}" data-bs-toggle="modal" data-bs-target="#modal-implemento"><i class="lni lni-pencil editar"></i></button>
                <form action="{% url 'eliminar_implemento' dato.idimplemento %}" class="d-inline-block" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger flex-fill" ><i class="lni lni-trash-can eliminar"></i></button>
                </form>
            </td>
            {% endif %}
            {% endif %}
         </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="modal fade" id="modal-implemento" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary justify-content-center" >
                <h1 class="modal-title fs-5 text-light" id="titulo-modal">Registrar Implemento</h1>
            </div>
                <form autocomplete="off" id="form-modal" >
                    <div class="modal-body">
                            {% csrf_token %}
                            <div class="row mt-2">
                                <div class="col col-md-6">
                                    <label for="txtIdTipoimplemento" class="form-label">Tipo Implemento:</label>
                                    {{form.idtipoimplemento}}
                                </div>
                                <div class="col col-md-6">
                                    <label for="txtImplemento" class="form-label">Implemento:</label>
                                    {{form.implemento}}
                                </div>

                                
                            </div>

                            <div class="row mt-2">
                                <div class="col col-md-4">
                                    <label for="txtCodImplemento" class="form-label">Codigo Implemento:</label>
                                    {{form.codimplemento}}
                                </div>
                                <div class="col col-md-4">
                                    <label for="txtIdUsuario" class="form-label">Usuario a cargo:</label>
                                    {{form.idusuario}}
                                </div>
                                <div class="col col-md-4">
                                    <label for="txtHorasUso" class="form-label">Horas de Uso:</label>
                                    {{form.horasdeuso}}
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col col-md-4">
                                    <label for="txtTiempoVida" class="form-label">Tiempo de Vida:</label>
                                    {{form.tiempovida}}
                                </div>
                                <div class="col col-md-4">
                                    <label for="txtIdCeco" class="form-label">Ceco:</label>
                                    {{form.idceco}}
                                </div>
                                

                                <div class="col col-md-4">
                                    <label for="txtIdArea" class="form-label">Area:</label>
                                    {{form.idarea}}
                                </div>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="agregasr" class="btn btn-outline-primary flex-fill"><i class="bi bi-check-square-fill"></i>Guardar</button>
                        <button type="button" id="cerrar" data-bs-dismiss="modal" class="btn btn-outline-danger flex-fill" data-bs-dismiss="modal"><i class="bi bi-x-square-fill"></i>Cerrar</button>
                    </div>
                </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
    
        // const modalvisor = new bootstrap.Modal(document.getElementById('modal-sistema'))
        const formModal = document.getElementById("form-modal")
        const btnAgregar = document.getElementById("registrar-implemento");
        const titulo_modal = document.getElementById("titulo-modal");
        const btnModificar = document.querySelectorAll(".editar")
    
        
        function obtener_implemento(id){
        fetch(`./obtener/${id}`)
        .then(res => res.json())
        .then(datos => {
            console.log(datos)
            titulo_modal.textContent = "Editar Implemento" ;
            formModal.setAttribute("action", `./modificar/${id}`);
            formModal.setAttribute("method", "POST");
                txtImplemento.value = datos.implemento[0].implemento;           
                txtTiempoVida.value = datos.implemento[0].tiempovida;
                txtHorasUso.value = datos.implemento[0].horasdeuso;     
                txtIdUsuario.value = datos.implemento[0].idusuario_id;          
                txtCodImplemento.value = datos.implemento[0].codimplemento;           
                txtIdTipoimplemento.value = datos.implemento[0].idtipoimplemento_id;           
                txtIdArea.value = datos.implemento[0].idarea_id;
                txtIdCeco.value = datos.implemento[0].idceco_id;           
        })
        .catch((error) => {
            console.log(error);
        });
        }
    
        btnAgregar.addEventListener("click", function() {
            titulo_modal.textContent = "Agregar Implemento" ;
            formModal.reset();
            formModal.setAttribute("action", "{% url 'registrar_implemento' %}");
            formModal.setAttribute("method", "POST");
        });

        setTimeout(function() {
            var mensaje = document.getElementById('mensaje');
            if (mensaje) {
                mensaje.style.display = 'none';
            }
        }, 3000);
    
        btnModificar.forEach(function(boton) {
        boton.addEventListener("click", function(event) {
            let id_implemento = event.target.dataset.id;
            // console.log(id_pieza);
            obtener_implemento(id_implemento);
            });
        });
    
    
    
    });
    
</script>

{% endblock %}